[2019-07-23 12:14] nidarasheed commented on #1457
[case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/22877805229)

[2019-07-23 12:41] #1456 closed

[2019-07-24 09:43] lise-toggl commented on #1454
[case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/22967004212)

[2019-07-24 13:09] tplk opened #1459 "Duplicate buttons in Azure DevOps / Visual Studio."
#### Relevant integration (if any):
visual studio / azure devops
visualstudio.com

### 🐛 Describe the bug

When using queries view ({company}.visualstudio.com/{project}/_queries/query/{query_id}/) the button sometimes gets rendered multiple times and sometimes doesn't render at all.

![image](https://user-images.githubusercontent.com/20531968/61795567-65218380-ae2c-11e9-87e3-7f8c9da6e69c.png)

###

[2019-07-24 17:32] lgkron opened #1461 "Microsoft Planner integration shows up in wrong location on this page: chrome-extension://oejgccbfbmkkpaidnkphaiaecficdnfn/html/settings.html?tab=integrations"
Please follow this guide when creating a new issue. This speeds up the process of replicating the issue and finding a solution.

### Environment details

* Operation system:  Windows 10
* Extension version:  1.39.1

### Expected behavior
Expected Microsoft Planner to show up between MeisterTask and MiniCRM.

### Actual behavior
It shows up between TargetProcess and TeamWeek (as if it is sorting on

[2019-07-25 05:56] Lars- commented on #1457
It still doesn't work... If I click the "Start timer" button in Asana, it just adds no project at all. Also the case for my colleagues.

[2019-07-26 09:12] nidarasheed opened #1462 "Toggl Button disappears on Todoist when switching projects"
* **OS version**: Reproduced on Windows and MacOS
* **Browser version**: Chrome Version 75.0.3770.142
* **Extension version**: Version 1.39.1

#### Relevant integration (if any):

Todoist. (https://todoist.com/)

### 🐛 Describe the bug
A Toggl Button shows next to each Todoist task when you hover at the end of the task title. However, the button stops showing in Todoist (in Dark Theme) after you s

[2019-07-26 09:15] zdericnina commented on #1457
[case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2759100/conversations/22996036800)

[2019-07-26 10:15] lise-toggl commented on #1422
[case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3155115/conversations/22988136255)

gif showing how you can reproduce the issue:
![ezgif com-gif-maker](https://user-images.githubusercontent.com/50156618/61944860-03a31580-afe2-11e9-9c5e-e1b52949395b.gif)

[2019-07-26 10:34] VeljkoTN commented on #1462
Just adding to this that this is not related to dark mode only, the issue is there without dark mode as well. It was reported on the Toggl Button Chrome listing and we tested with normal (non-dark) mode.

[2019-07-26 10:53] Lars- commented on #1457
case? I don't have access to that, please just reply...

[2019-07-26 11:04] TheSoloJake commented on #1457
@Lars- Sorry about that; "case" is for Toggl's internal use.

As for your issue, we're actively looking into the issue, and hope to have better news soon

[2019-07-26 19:34] fprochazka opened #1463 "Add edit of time entry beginning"
Every single day, I forget to start the tracker and remember about 10-30 minutes later, which means I have to open the app, to edit the start time of the currently running entry. Which is annoying, because the first load of the app is slow, because it's an SPA.

There is already the ability to edit the currently running entry, to change the project. I'm proposing to also allow edit the beginning o

[2019-07-29 08:33] VeljkoTN commented on #1449
Asked the user if they are still having this issue

[2019-07-30 09:03] zorancorovic commented on #635
Any news on the safari extension?

[2019-07-30 10:43] VeljkoTN commented on #1449
yep, this is still an issue for this user

[2019-07-30 21:25] #1444 closed

[2019-07-30 21:30] #1457 closed

[2019-07-30 21:36] #1124 closed

[2019-07-31 14:30] tcrammond opened #1468 "[Build] Local dev server is losing the manifest after changes"
After making changes while running the local dev server the manifest files are lost from the `dist/` folders.

This means the extension cannot be reloaded and you have to a) restart the whole dev server, b) enable all integrations you're working on again.

Probably introduced with #1433.

[2019-08-01 05:25] #1462 closed

[2019-08-01 06:29] nidarasheed opened #1470 ""Turn off timer when browser is closed" setting doesn't work on Windows 10"
* **OS version**: Windows 10
* **Browser version**: Chrome 76.0.3809.87
* **Extension version**: 1.39.1

#### Relevant integration (if any):
None

### 🐛 Describe the bug

Under Settings, "Stop timer automatically" does not work for Windows 10/Chrome.

### Expected behaviour

When browser is closed, the timer should stop.

### Steps to reproduce
- Switch on Stop Timer automatically
- Close browser

[2019-08-01 08:50] wielinde opened #1471 "Simplify OpenProject integration and pass OP's work package IDs into time entry title"
As requested by @shantanuraj in our PR #1467 here an issue that describes more in detail, what we want to achieve with the integration changes for OpenProject.

### Describe the changes you'd like

OpenProject has changed a lot since since we provided this integration. Now work packages (issues/tickets in OpenProject) get listed in many more places than before, such as Kanban boards, widgets, dash

[2019-08-01 11:59] zdericnina commented on #1454
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2759100/conversations/23085282853)

[2019-08-01 21:23] karlhorky commented on #1454
As I mentioned in https://github.com/toggl/toggl-button/pull/1203#issuecomment-499456043, this may be a result of a changed DOM structure:

[2019-08-02 00:21] lise-toggl opened #1472 "Add support for Freshservice"
### Describe the changes you'd like

Add an integration for [Freshservice](https://freshservice.com/)

### Relevant links or screenshots

![image](https://user-images.githubusercontent.com/50156618/62335473-45b2e680-b50f-11e9-8215-1e4c3427418e.png)

#### Additional context

[User request](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23092842947)

[2019-08-02 09:24] #1471 closed

[2019-08-05 20:43] TheSoloJake opened #1473 "Add integration with Jetpack Workflow"
**Link to service:** https://jetpackworkflow.com/

**Is there a free account option?**: No (free for first 14 days)

### Describe the solution you'd like

User would like to see the TogglButton integrated with this service.

[2019-08-05 21:09] empirezx23 commented on #1473
Hi Jake, thanks for adding this request. As my conversation with Jake, our company use Jetpack Workflow tool for internal workflow management, but we use Toggl for timekeeping. It would be super helpful if we could add integration between the two. I'd like to see a solution similar to Toggl Button <> Trello, or Toggl Button <> Gmail/Google Calendar. Thanks!

[2019-08-09 08:30] VeljkoTN opened #1475 "Azure Devops: Clean up integrations"
* **OS version**: Windows 10
* **Browser version**: 70.0.3538.77
* **Extension version**: TogglButton/1.40.1
--

#### Relevant integration (if any):

Azure Devops

### 🐛 Describe the bug

### Expected behaviour

Toggl button should show up next to the task name and the dialog shouldn't be slow

[2019-08-09 08:30] VeljkoTN commented on #1475
[case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2097020/conversations/23186481657)

[2019-08-12 19:38] TheSoloJake opened #1476 "Trello Integration Stopped Working"
* **OS version**:
* **Browser version**:
* **Extension version**:

#### Relevant integration (if any):

Trello webapp

### 🐛 Describe the bug

Timer button does not appear in Trello webapp

### Other details or context

Tested on Chrome with TogglButton 1.40.1

[2019-08-12 19:39] TheSoloJake commented on #1476
Case with affected [user](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2137598/conversations/23222147457)

Another affected [user](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2137598/conversations/23229614797)

[2019-08-12 19:45] TheSoloJake commented on #1476
Another [user](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23228284357)

[2019-08-13 00:55] nicktoggl commented on #1476
another [User case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23231322144)

[2019-08-13 01:02] lise-toggl opened #1477 "Slack integration broken"
* **OS version**: W10
* **Browser version**: Chrome 67
* **Extension version**: 1.40.1

#### Relevant integration (if any):

Slack

### 🐛 Describe the bug

Toggl Button doesn't appear in Slack

### Expected behaviour

Toggl Button should appear next to channel actions and message actions

### Steps to reproduce

1. Go to Slack
2. Look for the button 🔎

### Other details or context

[This class](ht

[2019-08-13 01:02] lise-toggl commented on #1477
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3155115/conversations/23228965140)

[2019-08-13 04:06] nicktoggl commented on #1476
[User case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2097915/conversations/23234222609)

[2019-08-13 06:30] nicktoggl commented on #1476
[User case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23234956999)

[2019-08-13 06:50] nicktoggl commented on #1476
[User case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23235074261)

[2019-08-13 09:03] zdericnina commented on #1476
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2759100/conversations/23235772840)

[2019-08-13 09:05] VeljkoTN commented on #1449
[another case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2097020/conversations/23235432268)

[2019-08-13 09:08] Post79 commented on #1476
Also affected

[2019-08-13 14:20] epagnini commented on #1476
[Case](conversations/23236265442)

[2019-08-13 14:20] epagnini commented on #1476
[Case](conversations/23238577848)

[2019-08-13 14:24] epagnini commented on #1476
[Case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2146384/conversations/23236265442)

[2019-08-13 14:25] epagnini commented on #1476
[Case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2146384/conversations/23238577848)

[2019-08-13 18:05] TheSoloJake commented on #1476
Another affected [user](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2137598/conversations/23242430110)

[2019-08-13 21:41] lise-toggl commented on #1449
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2908053/conversations/23243777735)

[2019-08-14 00:17] lise-toggl commented on #1449
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2908053/conversations/23246566636)
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2908053/conversations/23246757019)

[2019-08-14 00:59] lise-toggl commented on #1214
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23222081398)

[2019-08-14 09:14] dinc5150 commented on #1476
Affected me too.

**OS version:** Windows 10 Latest
**Browser version:** Chrome latest Stable
**Extension version:** 1.40.1

[2019-08-15 01:20] lise-toggl commented on #1307
[Another request](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23260198445)

[2019-08-15 14:30] dooart commented on #1468
tagging as `high` because i was told "work/maintenance on toggl button is severely hindered by this build problem"

[2019-08-15 14:46] shantanuraj commented on #1468
To anyone who reads (probably me after the conference)
bisecting with a script that touches any of the files would probably help narrow the problem down
I am certain it is related to some upgrade/change in the webpack config

[2019-08-15 15:33] langri-sha commented on #1468
Seems to work fine for me. I added some changes to the manifest to make sure they're added :thinking:.

Did notice `package-lock.json` changing after running `npm install`, though.

[2019-08-15 16:33] shantanuraj commented on #1468
Yeah I think you need to change the content scripts, but randomly after emiting the new content scripts the manifest is deleted.

[2019-08-15 21:59] dooart commented on #1458
couldn't reproduce in firefox for mac 😞

will need someone on arch linux to investigate this

[2019-08-16 04:04] lanceadam opened #1479 "Integration with Teamwork broken"
Since the release of Teamwork Desk 2.0, the integration no longer works?
https://blog.teamwork.com/coming-soon-teamwork-desk-2-0/

[2019-08-16 08:05] BluePhoenix91 commented on #1475
To clarify the issue, the button is now in the list, in organge, while it used to be positioned in the green square. Which was much more user friendly. Also clicking on it now gives a different pop-up then it used to give. This new pop-up  seems to work much slower.

![image](https://user-images.githubusercontent.com/39919833/63152912-4b2f2700-c00d-11e9-94ad-15f8c5f210bb.png)

[2019-08-16 09:48] rylek90 commented on #1468
It also cleans all image assets 🤷‍♂

[2019-08-19 15:49] BluePhoenix91 commented on #1475
The issue was solved by activitating the right integration (I'm guessing azure.com). I'm guessing it was deactivated or changed as Azure Devops changed URL.

![image](https://user-images.githubusercontent.com/39919833/63279614-96fdfc80-c2a9-11e9-9c21-036a9a39d66a.png)

[2019-08-21 08:03] #1468 closed

[2019-08-21 13:19] ApocalypticFish opened #1483 "Integration doesn't update when timer is started or stopped from other app"
Mac and Windows
* **Browser version**: Chrome Version 76.0.3809.100 (Official Build) (64-bit)
* **Extension version**: 1.40.3

#### Relevant integration (if any): Expect all but have confirmed, Trello and Intercom so far.

### 🐛 Describe the bug
If a timer is started or stopped from Toggl button then the integration changes from "Start Timer" to "Stop Timer" as is appropriate.
If a timer is starte

[2019-08-21 13:35] ApocalypticFish opened #1484 "Toggl button not showing in Outlook, Live, Hotmail etc."
* **OS version**: Windows + Mac
* **Browser version**: Chrome Version 76.0.3809.100 (Official Build) (64-bit)
* **Extension version**: 1.40.3

#### Relevant integration (if any):
outlook.live.com
outlook.office.com

### 🐛 Describe the bug
Toggl button isn't showing

### Expected behaviour
Toggl button to show when creating an email or replying to an email.

### Steps to reproduce
Try to send an em

[2019-08-21 15:57] #1459 closed

[2019-08-21 22:32] #1477 closed

[2019-08-22 07:02] nidarasheed commented on #902
This integration already exists but is currently not working. An issue has been created to fix this [here](https://github.com/toggl/toggl-button/issues/1484)
Closing this issue as it is irrelevant given integration exists and just needs a fix :)

[2019-08-22 07:03] #902 closed

[2019-08-22 13:52] TheSoloJake opened #1485 "Quickbooks Integration Missing"
#### Relevant integration (if any):

Quickbooks (https://quickbooks.intuit.com/)

### 🐛 Describe the bug

Quickbooks integration appears on the https://toggl.com/tools page, but does not appear as a listed domain in the Integrations portion of the TogglButton extension

### Other details or context

Reported by [user](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2137598/conversations/233583

[2019-08-22 23:32] #1455 closed

[2019-08-23 05:29] #1391 closed

[2019-08-23 19:55] TheSoloJake commented on #1454
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23378522257)

[2019-08-26 09:58] nidarasheed opened #1487 "Toggl button not showing on Jira issue popup"
* **OS version**: Windows 10
* **Browser version**: Chrome, 76.0.3809.100
* **Extension version**:  1.40.7

#### Relevant integration (if any): Jira

### 🐛 Describe the bug

The Toggl Button is showing on the story window but not on the popup.

Story window
![image](https://user-images.githubusercontent.com/49634673/63682628-cf558b80-c811-11e9-865f-feb73387e6da.png)

Popup
![image](https://user-im

[2019-08-28 05:38] lise-toggl commented on #1483
[Case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23424693299)

[2019-08-28 09:53] lgp171188 commented on #1458
@dooart, sorry for the late response. Though this issue was happening repeatedly, the extension was able to log in automatically after a browser restart.

If required, I can try logging out and logging back in to see if this happens even now.

[2019-08-29 01:47] dooart commented on #1458
thanks for letting us know, @lgp171188!

if you're not facing problems anymore, i'll just close the issue for now. please reopen if it happens again.

[2019-08-29 01:47] #1458 closed

[2019-08-29 17:45] ViktarZakharau opened #1489 "Add integration with Yandex.Tracker"
**Link to service:** https://tracker.yandex.ru

**Is there a free account option?**: Yes

Please add button with right from task title.

![190829_204432_516](https://user-images.githubusercontent.com/52623843/63963512-dd1f4100-ca9d-11e9-9066-a04df499561e.png)

[2019-08-31 21:38] johackim opened #1490 "Add integration with Standard Notes"
**Link to service:** https://standardnotes.org/extensions/simple-task-editor

**Is there a free account option?**: No

### Describe the solution you'd like

A button next to each tasks.

[2019-09-01 08:30] ivillacreative commented on #1454
I think I have a fix for this.. the only problem is I can't commit because of some git command error.
-__-

<img width="435" alt="Screen Shot 2019-09-01 at 1 25 45 AM" src="https://user-images.githubusercontent.com/9972541/64073822-11d6f800-cc58-11e9-885e-ee12792f43cc.png">

[2019-09-01 10:31] #921 closed

[2019-09-03 05:53] sterid commented on #597
2019 nothing is changed 👎

[2019-09-03 12:28] VeljkoTN opened #1495 "Login issue with Toggl Button"
* **OS version**: Linux x86_64
* **Browser version**: Firefox 70.0b2
* **Extension version**: don't have that info but considering that they don't have a single time entry created via the Toggl Button before I think we can make a fairly accurate assumption that they just got the extension and are not able to try it because of this issue, so latest version for FF most likely.

### 🐛 Describe the bu

[2019-09-03 15:16] TheSoloJake opened #1496 "Worksection Integration Stopped Working"
#### Relevant integration (if any):

Worksection (worksection.com)

### 🐛 Describe the bug

Integration no longer appears in Worksection UI

### Other details or context

[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2137598/conversations/23505456658)

[2019-09-04 08:50] nidarasheed commented on #1485
I asked user where they would like to see the TogglButton, and they replied saying they went with another app instead of Toggl so they don't need this feature :(

Having said that, the current issue is more simple. The QuickBooks integration option isn't available  in the integrations page at all, so if we can add it in, and then show the button on the main screen in QBO somewhere, users who are i

[2019-09-04 16:36] bflorat opened #1497 "Gitlab: Cannot select tag in firefox integration"
* **OS version**:
Fedora release 29 (Twenty Nine)

* **Browser version**:
Firefox 66.0.4 64 bits

* **Extension version**:
Version 1.40.7

#### Relevant integration (if any):
gitlab.com

### 🐛 Describe the bug
In gitlab.com, I start the timer, then I try to select one or more tags but when I click on the tag, the popup closes and none tag is selected

Note : this bug is NOT in chrome

### Expected

[2019-09-06 12:39] VeljkoTN opened #1498 "Toggl Button popup inside Trello goes outside of screen"
* **OS version**: Windows 7
* **Browser version**: Chrome 76.0.3809.132
* **Extension version**: 1.40.7

###⛑️ User Support
A user reported that when they click on the Toggl Button icon inside a Trello card, the popup shows up and goes outside of the screen towards the bottom:

![image](https://user-images.githubusercontent.com/36152180/64428427-fafb3000-d0b3-11e9-9380-79f6376ab16d.png)

###About

[2019-09-06 12:49] VeljkoTN opened #1499 "Toggl Button popup not showing inside a trello card"
* **OS version**: Windows 10
* **Browser version**: 76.0.3809.132
* **Extension version**: Version 1.40.7

#### Relevant integration (if any):

Regular Trello integration

### 🐛 Describe the bug

I have the button inside trello but when I click on it it just starts a timer, no popup:

![Toggl Button trello](https://user-images.githubusercontent.com/36152180/64429043-714c6200-d0b5-11e9-82cd-8f8b575

[2019-09-08 12:02] vedr4n commented on #1498
User mentioned it only happens on small screens.

[2019-09-09 08:29] salomvary opened #1501 "Allow time tracking in Clickup without syncing"
### Describe the new feature

It looks like the Clickup Toggl Button integration only works if you turn on Clickup synchronizing time tracking data using the Toggl API key.

The reason for this feature not working is [src/scripts/content/clickup.js](src/scripts/content/clickup.js) looking for an element (`#timeTrackingItem`) if you have the Toggl API synchronization set up. A nice alternative woul

[2019-09-09 19:12] dooart commented on #1501
I think it is indeed a valid use case.

If we can't rely on `#timeTrackingItem` to be always available in the DOM we should probably use some other element as the default instead. A fallback would mean more code to maintain.

[2019-09-10 19:56] dooart commented on #1495
related https://github.com/toggl/webapp/issues/11317

[2019-09-10 20:01] dooart commented on #1495
from this intercom conversation and the one in toggl/webapp#11317 it seems it is related to logging in with google

unfortunately i couldn't reproduce the problem, even by installing ublock origin as this user suggested

@VeljkoTN can you please ask the user if they're willing to help us to investigate this by using the network tab and exporting the request data? (i can give you further help with

[2019-09-10 20:04] dooart commented on #1495
a little more information on this: the attached screenshot is from toggl button itself, not from the public web: https://github.com/toggl/toggl-button/blob/cb43023e4d2f23c47d315f19eec5e452da90d277/src/scripts/components/LoginPage.tsx#L67

[2019-09-11 10:09] VeljkoTN commented on #1495
I have another user with the same issue: [link ](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/conversation/23603756725)

For the initial case, turning off a blocker called "uBlock Origin" got rid of the 403 error but the user is still not able to log into TB, for this second case removing a blocker called "privacy badger" did not help with the 403 and the login issue is also there.

@dooart

[2019-09-11 13:18] dooart commented on #1495
@VeljkoTN yeah but they need to tick this checkbox in the network tab before typing the credentials
![image](https://user-images.githubusercontent.com/371426/64700546-7aef1480-d47d-11e9-9b62-248b1baeb9f4.png)

[2019-09-11 19:09] #1484 closed

[2019-09-12 00:18] lise-toggl commented on #1495
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23628572884)

[2019-09-12 08:20] IndrekV opened #1503 "Duration in main view updates with a delay"
* **OS version**: MacOs 10.14.5
* **Browser version**: Chrome 76.0.3809.132
* **Extension version**: 1.40.8

### 🐛 Describe the bug

When changing the duration and pressing "Done" the main view still shows old time for a few seconds and then updates

### Expected behaviour

The duration in main page should already be updated when user return to main view. If the sync fails or any other issues appe

[2019-09-16 15:17] nunofmn opened #1506 "Update dependencies"

[2019-09-17 18:56] #1506 closed

[2019-09-17 19:00] #1417 closed

[2019-09-18 05:46] lise-toggl opened #1508 "Support new Asana interface"
#### Relevant integration:

Asana

### 🐛 Describe the bug

Asana's interface is changing (see https://forum.asana.com/t/introducing-our-new-spreadsheet-inspired-list-view/59828) and the integration will need to be updated to work with it.

### Expected behaviour

The Toggl Button should appear in a reasonable place in the new interface.

### Steps to reproduce

-

### Other details or context

Hav

[2019-09-18 08:36] zoka123 opened #1509 "Starting timer from Youtrack agile board results with invalid issue ID and correct title"
* **OS version**: macOS Mojave 10.14.6
* **Browser version**: Google Chrome Version 76.0.3809.132 (Official Build) (64-bit)
* **Extension version**: 1.40.7

#### Relevant integration (if any):
Youtrack integration on a private accessible instance

### 🐛 Describe the bug
Starting the timer from Youtrack agile board, card preview view, results with timer started, but with **invalid issue ID** and co

[2019-09-18 17:49] DustinWoods commented on #1422
This has been happening to for a while too. I'm using Firefox 69.0. It happens on Github and Asana pages, as well as the extension pop up. Happens more often than not.

[2019-09-18 17:54] DustinWoods commented on #1422
![Peek 2019-09-18 10-52](https://user-images.githubusercontent.com/5541776/65172895-a5ebe200-da02-11e9-89a4-17e4b63f3cd4.gif)

**Workaround**: It seems if you right-click the tag drop down (or the project list dropdown) that the menu will stay open on the subsequent left click. See gif.

[2019-09-18 18:09] dooart commented on #1422
there's a big chance this will be fixed by https://github.com/toggl/toggl-button/pull/1504

[2019-09-18 18:14] dooart commented on #1422
nevermind, just tested it and the problem still happens. will schedule for next backlog cycle

[2019-09-18 18:16] DustinWoods commented on #1422
@dooart Thank you! This one is a big deal for me.

[2019-09-18 18:17] DustinWoods commented on #1422
I'd be happy to help troubleshoot this issue or gather more info if needed.

[2019-09-18 20:31] raphael-thibierge commented on #251
@Keopss i'm interested into using your script if you do agree , and why not contributing to it :)

[2019-09-19 13:15] VeljkoTN commented on #1422
conversations/23731381826 - video reproducing the issue included in one of the messages

[2019-09-20 05:00] lise-toggl commented on #1495
Hi @nunofmn - another user with a HAR file in [this message](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/conversation/23628572884#part_id=comment-23628572884-3778489952).

[2019-09-20 08:27] AnthonyLenglet commented on #930
I'm actualy kinda surprised that this got so little traction, having to set the project everytime I start working on an issue in a repo is cumbersome if anything in our case

[2019-09-20 20:50] dooart commented on #199
Missing screenshots:
- Dynamics 365
- Kantree
- Corgee
- Workflowy

[2019-09-21 17:10] nidarasheed commented on #1454
[User Report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23769290672)

[2019-09-23 03:06] lise-toggl commented on #1508
Tested the new layout and Toggl Button still appears on the task detail view, and not on the main list:
![image](https://user-images.githubusercontent.com/50156618/65399953-d668bd00-de02-11e9-94fd-3a54854c2397.png)

[2019-09-25 08:17] VeljkoTN commented on #1495
Hey guys, just a friendly followup here - anything new?  :)

[2019-09-25 09:53] nunofmn commented on #1495
We are currently working on improving login. It should fix this problem 👍

[2019-09-25 16:50] ApocalypticFish commented on #1496
[case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2144650/conversations/23822092727)

[2019-09-25 18:15] ApocalypticFish commented on #1487
[case](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2144650/conversations/23793361728)

[2019-09-26 20:26] #199 closed

[2019-09-26 20:27] dooart opened #1513 "Add missing screenshots to wiki"
Screenshots missing right now:
- [ ] Dynamics 365
- [ ] Kantree
- [ ] Corgee
- [ ] Workflowy

[2019-09-26 20:31] dooart commented on #1513
related https://github.com/toggl/toggl-button/issues/1024

[2019-09-26 20:33] dooart commented on #458
our goal is something more like Toggl webapp's design

[2019-09-26 20:33] #458 closed

[2019-09-27 10:31] VeljkoTN commented on #1495
Another user reached out: [case link 🔗 ](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23853012495)

[2019-09-27 21:37] dooart commented on #968
duplicated of https://github.com/toggl/toggl-button/issues/300

[2019-09-27 21:37] #968 closed

[2019-09-27 21:39] dooart commented on #532
duration only mode is not really a thing anymore

[2019-09-27 21:39] #532 closed

[2019-09-27 21:58] dooart commented on #1368
closing for lack of response

[2019-09-27 21:58] #1368 closed

[2019-09-27 22:17] dooart commented on #451
duplicate of https://github.com/toggl/toggl-button/issues/1430

[2019-09-27 22:17] #451 closed

[2019-09-27 22:31] dooart commented on #1395
we have issues for those things already: https://github.com/toggl/toggl-button/issues/1463 and https://github.com/toggl/toggl-button/issues/1399

[2019-09-27 22:33] dooart commented on #1395
oh wait, we don't have issues for deleting and editing stopped entries. i'll just rename this one

[2019-09-30 12:34] VeljkoTN opened #1514 "TickTick integration issue"
* **OS version**: Windows 10
* **Browser version**: Chrome 77.0.3865.90
* **Extension version**: 1.40.7

#### Relevant integration (if any): https://ticktick.com

### 🐛 Describe the bug

The Toggl Button is no longer visible on TickTick's site

### Expected behaviour

Should be visible like so (outdated image in regards to TickTick but the placement should be the same):

![image](https://user-imag

[2019-09-30 21:21] #1509 closed

[2019-09-30 21:52] DustinWoods commented on #1422
Thank you!!! I'll report back here after I update the extension in my browser.

[2019-09-30 21:54] dooart commented on #1422
Hey @DustinWoods! Just wanted to let you know it'll take a couple days until we roll out this version to all users. If you want early access to the fix, you can try installing it locally from the release files.

[2019-10-01 00:53] lise-toggl commented on #1514
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/23899723518)

[2019-10-01 07:10] VeljkoTN commented on #1495
@nunofmn what's up? :) are close to deploying?

[2019-10-02 10:52] wigster opened #1515 "Adjusting start time of task should change end time of previous"
### Describe the new feature

Prevent multiple tasks from occupying same time. Currently if you edit e.g. the start time of a running task, Toggl Desktop does not adjust the end time of the previous task.

### How does this help you?

Currently, if I have forgotten to start a new task and the old one keeps running, I have to start a new task, edit its start time and then remember to edit the end t

[2019-10-02 17:55] SuperOmario commented on #1497
Hi I'd like to take this issue? Would you be able to point me in the right direction to start?

[2019-10-02 19:47] SuperOmario commented on #1497
I have tried to replicate the bug but the tags seem to be working in firefox

[2019-10-03 01:02] dooart commented on #930
Not exactly your feature request, but might help anyway: if you have a project in Toggl with the same name as your repo, that project will be selected automatically when you start the timer from an issue.

[2019-10-03 01:05] dooart commented on #1024
related: https://github.com/toggl/toggl-button/issues/561

[2019-10-03 02:40] DustinWoods commented on #1422
@dooart I hate to be _that guy_, but I think there might still be an issue. I'm updated to 1.42.1 in Firefox.

 - The issue looks fixed with the Toggl toolbar dialog box (whatever it's called) - (HUGE improvement already with this)
 - But the issue still seems present with dialog box that is embedded on pages.

I was able to reproduce the issue on Github, for example:
![Peek 2019-10-02 19-27](http

[2019-10-03 12:47] #1451 closed

[2019-10-03 15:04] dooart commented on #1422
Thank you @DustinWoods! We'll look into this again.

[2019-10-03 19:17] #1129 closed

[2019-10-03 19:50] dooart commented on #1426
ℹ️ this is basecamp 3 btw

[2019-10-04 14:11] jbutz commented on #1499
I was unable to replicate this issue. I tried in both Firefox and Chrome with the versions currently in their respective web stores.

[2019-10-07 11:43] Whizkevina commented on #1499
Can I work on it.

[2019-10-07 23:30] mwcarew commented on #1514
Exact same issue on latest version of Chrome on Windows 10.

[2019-10-08 21:05] TheSoloJake commented on #1514
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2137598/conversations/24008786550)

[2019-10-09 01:43] lise-toggl commented on #1499
Hey @Whizkevina, you're most welcome to work on this if it's still an issue! :)

@VeljkoTN can you let us know if you're still experiencing this? I tried to reproduce it as well but wasn't able to.

[2019-10-09 01:50] lise-toggl commented on #1497
@SuperOmario Thanks so much for the interest!

I think this issue will be fixed by https://github.com/toggl/toggl-button/pull/1517 - @nunofmn could you please confirm?

[2019-10-09 01:53] lise-toggl commented on #1422
[User report - Trello (with recording)](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24018982792)

[2019-10-09 08:03] bflorat commented on #1497
@lise-toggl : I don't think so, still the same with 1.42.1, please check out the provided screencast
![vokoscreen-2019-10-09_09-54-59](https://user-images.githubusercontent.com/203516/66462736-060efa80-ea7c-11e9-8275-ce7c5d3969e3.gif)

[2019-10-09 08:15] nidarasheed commented on #1514
[User Report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24022133255)

[2019-10-09 17:37] dooart opened #1520 "Tag all new releases as pre-releases"
### Describe the new feature

Tag all new releases as pre-releases, so we can add some tooling to remind ourselves that new versions are available for deployment.

[2019-10-11 10:49] zdericnina commented on #1454
[user report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2759100/conversations/24058314611)

[2019-10-14 09:30] vicampuzano opened #1521 "Support new Todoist Web Interface"
Hello!

Please, take a look at https://beta.todoist.com . New web interface is coming and Toggl Extensions break in the "task subject" recognition.

When I try to start the timer, everything works fine but the task subject was not recognized.

Thanks! :)

[2019-10-14 09:52] #1479 closed

[2019-10-14 10:29] nidarasheed commented on #1521
[User Report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/534741/conversations/24087278732)

[2019-10-16 20:33] TheSoloJake commented on #1521
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24061146127)

[2019-10-18 03:24] dianetoggl opened #1523 "Keyboard unable to be used to choose project/tag while added task"
Chrome/Firefox

### 🐛 Describe the bug

Users can't use the keyboard to select projects or tags while adding a task. Tab focuses on the project field or the tag field, but you are unable to open either option and choose a project/tag.

### Expected behaviour

User can tab to project / tag field and press enter or down key to choose a project / tag.

### Steps to reproduce

- Click the Toggl Button

[2019-10-18 03:24] dianetoggl commented on #1523
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3540765/conversations/24151686987)

[2019-10-18 13:15] mskrip opened #1524 "Add option to control timer with message events"
### Describe the new feature

It would be nice to have a possibility to control Toggl with [message events through toggl-button](https://developer.chrome.com/extensions/content_scripts#host-page-communication).

### How does this help you?

This would allow 3rd parties to create private custom integrations without the need to change the extension itself.

### Secondary goal

Message events may ena

[2019-10-20 02:26] stevenwally commented on #1487
Hey there! I'd like to work on this, if it isn't already assigned :) @dooart @nidarasheed

[2019-10-21 12:49] mskrip commented on #1524
To make it clear. I'm ready to implement and open a PR for this. I'd just like your opinion and "go ahead".

[2019-10-21 15:44] dooart commented on #1487
Hey, @stevenwally! Nobody is working on this yet. Feel free to submit a PR!

[2019-10-21 21:25] Dan2D commented on #1498
I'll take a shot at this if it's still available.

[2019-10-22 09:59] nidarasheed opened #1525 "Button shows on same spot as delete task button in Any.do"
* **OS version**: MacOS Catalina 10.15
* **Browser version**: Version 77.0.3865.120 (Official Build) (64-bit)
* **Extension version**: Version 1.42.1

#### Relevant integration (if any): Any.do

### 🐛 Describe the bug

The Toggl Button shows up in the same place as  the close button for a completed any.do task.

### Expected behaviour

The button should ideally show somewhere else. How is a user g

[2019-10-22 17:37] opennomad commented on #1521
It's no longer just beta. The new UI is now live.

[2019-10-22 17:59] Michelle112 commented on #1521
[User report.](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24215657314)

[2019-10-22 19:28] shantanuraj commented on #1521
Has PR at #1526 if someone wants to review

[2019-10-23 07:04] #1521 closed

[2019-10-23 07:31] #1426 closed

[2019-10-23 11:59] nidarasheed opened #1527 "Timer does not sync with webapp until extension is opened"
* **OS version**: Catalina 10.15
* **Browser version**: Version 77.0.3865.120 (Official Build) (64-bit)
* **Extension version**: Version 1.42.1

#### Relevant integration (if any):
N/A
### 🐛 Describe the bug
Toggl Button doesn’t sync with the webapp timer until you open the extension.

For example, I have had the webapp tracking time all day, but the chrome extension was still grey. I clicked on i

[2019-10-23 23:14] dianetoggl commented on #1470
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3540765/conversations/23889490912)

[2019-10-24 01:28] lise-toggl opened #1528 "Todoist - add Button to detail view"
### Describe the changes you'd like

Add the Toggl Button to the Todoist task detail view

### Relevant links or screenshots

![image](https://user-images.githubusercontent.com/50156618/67445771-ca6a5800-f659-11e9-8ab3-751f3e7468ca.png)

#### Additional context

Currently you need to close the task and go back to the main list to start a timer.

[2019-10-24 01:32] lise-toggl commented on #1528
[User request](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3155115/conversations/24215657314)

[2019-10-24 01:43] dianetoggl opened #1529 "Todoist - Tags not pulling through"
Windows 10
Chrome 77
Button 1.44.1

#### Relevant integration (if any): Todoist

### 🐛 Describe the bug

Tags are not pulling through on time entries to Toggl from Todoist.

### Expected behaviour

Tags will appear in Toggl from Todoist time entries.

### Steps to reproduce

Stop a time entry that includes tags.

Steps to reproduce the behaviour:
1. Start a time entry with Todoist integration that

[2019-10-24 01:43] dianetoggl commented on #1529
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3540765/conversations/21339394456)

[2019-10-24 09:43] nidarasheed commented on #1527
[User Report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/534741/conversations/24189741146)

[2019-10-24 18:59] dooart opened #1531 "Text in search boxes not visible in Todoist dark theme (and possibily other integrations as well)"
### 🐛 Describe the bug

When searching for projects and tags, the text is not visible inside the text input:
<img width="366" alt="Screen Shot 2019-10-23 at 07 57 04" src="https://user-images.githubusercontent.com/371426/67516421-88acd200-f698-11e9-8c00-d3d6a3820fdf.png">

<img width="365" alt="Screen Shot 2019-10-23 at 07 57 11" src="https://user-images.githubusercontent.com/371426/67516426-8a769

[2019-10-24 21:32] dianetoggl commented on #1529
[User Report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24252923638)

[2019-10-25 00:59] rpanczer commented on #1531
Hi there, I can fix this one

[2019-10-25 09:30] #1529 closed

[2019-10-25 13:02] TheSoloJake commented on #1514
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24261499512)

[2019-10-25 19:15] TheSoloJake commented on #636
@dooart Since Dapulse is now Monday, can/should we change the title and scope of the integration request?

[2019-10-25 19:23] TheSoloJake commented on #636
[User asking](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3560471/conversations/24265217302) about potentially integrating Toggl with their current Monday-based workflow

[2019-10-25 20:58] dooart commented on #636
@TheSoloJake renamed the issue :)

but unless we start getting a lot more requests, we'll still wait until someone submits the integration

[2019-10-28 11:09] tcrammond opened #1534 "Toolbar window: Minimum height has gone missing"
### 🐛 Describe the bug

The toolbar window now looks like this with no recent entries:

<img width="478" alt="Screenshot 2019-10-28 at 11 04 17" src="https://user-images.githubusercontent.com/6432028/67673962-3529d500-f973-11e9-8246-dfcfbf8d0653.png">

### Expected behaviour

It should have some kind of height, it used to be `300px` or something like that, I think. A change to the way browser exte

[2019-10-28 14:30] KeopsZ commented on #251
Hi @raphael-thibierge i create a repository with it ->

https://github.com/KeopsZ

[2019-10-28 16:08] tcrammond commented on #1495
@VeljkoTN We have unfortunately hit various cans of worms. I hope to have some kind of plan for what we're going to do this week.

[2019-10-28 17:40] dianetoggl commented on #1527
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3540765/conversations/24160785921)

[2019-10-28 17:41] #896 closed

[2019-10-28 17:43] dooart commented on #762
this integration already exists

[2019-10-28 17:43] #762 closed

[2019-10-28 17:43] dooart commented on #740
integration already exists

[2019-10-28 17:43] #740 closed

[2019-10-29 00:49] lise-toggl commented on #1523
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/21681804387)

[2019-10-29 03:04] shantanuraj opened #1535 "Some tags don't show up in autocomplete popdown"
* **OS version**: All
* **Browser version**: All
* **Extension version**: Latest

### 🐛 Describe the bug

- Some tags don't show up in the autocomplete popdown
- On doing some debugging I found if a user has the same tag-names across different workspaces
  one of them is overwritten
  ![image](https://user-images.githubusercontent.com/1716853/67734216-74652e00-fa26-11e9-86aa-fa939f30a53b.png)
- Th

[2019-10-29 03:06] lise-toggl commented on #1535
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/conversation/24211007253)

[2019-10-29 10:26] #1535 closed

[2019-10-29 14:44] alpha-bytes commented on #1534
For me the edit form doesn't even appear after today's bug fix. I just see the top left toggl logo/text, and the three top-right icons (popout / refresh / settings). This is true even after clicking a "start timer" link.

[2019-10-29 14:53] tcrammond commented on #1534
@alpha-bytes Hmm, that doesn't sound great. I would recommend first trying a browser relaunch, or logging out and back in to the Toggl Button extension (you can log out via `Settings > My Account`)

[2019-10-29 15:15] alpha-bytes commented on #1534
Yeah I tried both of those, but still no edit frame.

On Tue, Oct 29, 2019 at 9:53 AM Tyler Crammond <notifications@github.com>
wrote:

[2019-10-29 18:07] nopantsmonkey opened #1538 "Unable to use toggl-button on my account"
* **OS version**:
mac-os mojave 10.14.6

* **Browser version**:
Google Chrome 78.0.3904.70

* **Extension version**:

#### Relevant integration (if any):

### 🐛 Describe the bug
I have used toggl a couple of years back today when i installed toggl-button it showed me the login screen, i successfully logged in but then on clicking on the extension icon in chrome toolbar is showing me only the heade

[2019-10-29 18:47] dooart commented on #1538
already fixed by https://github.com/toggl/toggl-button/pull/1537

[2019-10-29 18:47] #1538 closed

[2019-10-29 23:14] njskalski opened #1540 "Add website blocking while pomodoro timer is active"
Hi,

I would love to be able to block unproductive websites (like with LeechBlock NG) via Toggl Button (preferably with sync among all browsers) while in Pomodoro timer.

Kind Regards

[2019-10-31 11:20] nidarasheed commented on #1527
[User Report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/534741/conversations/24341578312)

[2019-10-31 11:38] tcrammond commented on #1527
Technical notes:

not 100% sure on any of this yet.

I think background scripts are no kept loaded as much of the time, and we don't have a case to set it to be persistent.

We'll need to poll, inside `chrome.runtime.alarm` calls, to see if anything is running (and for how long), rather than using websocket for that (which is what I'm currently assuming we do).

[2019-10-31 11:42] tcrammond commented on #1531
Should be resolved in `1.44.5` 🚀

[2019-10-31 11:42] #1531 closed

[2019-10-31 13:23] tcrammond commented on #859
Basecamp 3 is now supported 🎉

[2019-10-31 13:23] #859 closed

[2019-10-31 13:26] tcrammond commented on #1307
This has been supported for a while now 🎉

[2019-10-31 13:26] #1307 closed

[2019-10-31 13:29] tcrammond commented on #1499
Not known to be an issue in the current version. Please re-open if it comes up again.

[2019-10-31 13:29] #1499 closed

[2019-10-31 13:32] tcrammond commented on #1534
@alpha-bytes Sorry for the slow response. Is everything OK now on version `1.45.0`?

[2019-10-31 13:49] #955 closed

[2019-10-31 15:43] alpha-bytes commented on #1534
Yes, it started working again, thank you!

On Thu, Oct 31, 2019 at 8:32 AM Tyler Crammond <notifications@github.com>
wrote:

[2019-10-31 20:49] laurabennett commented on #643
The button shows up on my Trello board but it stops the timer before I'm done and doesn't store the time in my Toggl account.  So it appeared to work at first but is completely useless.

[2019-10-31 21:10] malfter commented on #1495
I also have a problem logging in to the toggl button:

OS version: Linux x86_64 (Debian)
Browser version: Firefox 68.2.0esr (64-bit)
Extension Version: 1.45.0

![toogl](https://user-images.githubusercontent.com/4189991/67986331-0f2e5a00-fc2b-11e9-963f-70c0c117416c.png)

Restarting the browser does not help.

[2019-11-01 17:08] tcrammond opened #1543 "Reimplement login inside the standalone extension"
### Describe the new feature

Unfortunately there are some edge case problems with the "Log in via `toggl.com`" experiment that we can't solve right now.

Let's bring the login back inside the extension. We will do it inside our nice standalone pages we already have.

#### Log in form

Using existing `LoginForm.tsx` / html modules:

- [ ] Use `toggl.com/login` styles, or at least heavily borrow th

[2019-11-03 17:47] dianetoggl commented on #1495
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24381856701)

[2019-11-04 04:42] lise-toggl opened #1544 "Customisable svg button icons"
### Describe the new feature

Make the button icon a svg so we can (optionally) customise colours to match integrations better.

### How does this help you?

Stops the button standing out in some integrations, e.g.
![image](https://user-images.githubusercontent.com/50156618/68099866-fe2a6500-ff18-11e9-90ee-b7db98b7cdf3.png)

### If we couldn't add this feature, is there a compromise you can think

[2019-11-04 12:50] tcrammond opened #1545 "Track errors in "return from login" page"
When an error happens in this state after logging in via public web (such as 403 user fetch failed),

Track that error distinctly so we can easily monitor it.

This is the state we want to know about:

![67986331-0f2e5a00-fc2b-11e9-963f-70c0c117416c](https://user-images.githubusercontent.com/6432028/68122098-7e44d080-ff01-11e9-9547-f767d5e846ee.png)

[2019-11-04 16:06] tcrammond commented on #1523
Directly related to #1511, should get fixed by it when it's merged.

[2019-11-05 01:33] lise-toggl opened #1547 "Todoist - button dialog doesn't open on Firefox after using task view"
* **OS version**: Ubuntu
* **Browser version**: Firefox 70
* **Extension version**: 1.45.0

#### Relevant integration (if any):

[Todoist](https://todoist.com/app)

### 🐛 Describe the bug

Sometimes the button dialog doesn't appear when the button is clicked. This seems to be related to the new task view.

### Expected behaviour

The button dialog should always appear.

### Steps to reproduce

Ste

[2019-11-06 07:02] lise-toggl opened #1549 "Improve Todoist project selection"
### Describe the changes you'd like

Select the correct project in Todoist.

### Relevant links or screenshots

We have a function that selects the correct project in the main list view, but need a way to select the correct project in task view.

When task view is open:

- there is no change to the main list to indicate which task you selected
- the selected task's parent is displayed
  - if it's

[2019-11-06 11:42] #1545 closed

[2019-11-07 00:12] lise-toggl opened #1551 "Any.do: Description not fetched in list view"
* **OS version**: Ubuntu 19.10
* **Browser version**: Chrome 78
* **Extension version**: 1.45

#### Relevant integration (if any):

[Any.do](https://desktop.any.do/tasks/)

### 🐛 Describe the bug

In the tasks list, the description is not fetched when starting a timer:
![anydo](https://user-images.githubusercontent.com/50156618/68348857-5185f880-014f-11ea-9f41-538b46d0afb4.gif)

### Expected behav

[2019-11-07 00:34] lise-toggl opened #1553 "Improve Any.do project selection"
### Describe the changes you'd like

Select the correct project when possible in Any.do

### Relevant links or screenshots

When moving from the "All Tasks" page to another project's page, the task list items don't update their project (i.e. still has "All Tasks" set as their project).

#### Additional context

[2019-11-07 21:20] #1525 closed

[2019-11-07 22:31] lise-toggl opened #1554 "Todoist - active timer button should always be visible"
* **OS version**: Ubuntu 19.10
* **Browser version**: Chrome 78
* **Extension version**: 1.45

#### Relevant integration (if any):

[Todoist](https://todoist.com/app)

### 🐛 Describe the bug

The active timer is only visible on hover.

### Expected behaviour

The active timer should always be visible.

### Steps to reproduce

Steps to reproduce the behaviour:
1. Go to [Todoist](https://todoist.com

[2019-11-07 22:32] #1528 closed

[2019-11-08 00:29] lise-toggl commented on #1405
Original user reported that integration started working again when he started with a new Chrome profile, and support haven't seen any other reports so closing this for now.

[2019-11-08 00:29] #1405 closed

[2019-11-08 03:21] lise-toggl commented on #1487
I wasn't able to reproduce the issue, the button appears as expected on the issue dialog:

![image](https://user-images.githubusercontent.com/50156618/68446969-65565b00-0232-11ea-967b-c9f45917b9f0.png)

@nidarasheed can you find out if this is still happening on their end?

[2019-11-08 03:29] lise-toggl commented on #1487
@ApocalypticFish I couldn't reproduce their issue either - the button shows up in the sidebar too, with the next gen setting on:
![image](https://user-images.githubusercontent.com/50156618/68447410-fb3eb580-0233-11ea-93f7-1eb4e27b864c.png)

Can you find out if it's ok for them now?

[2019-11-09 21:38] Airgunster commented on #1514
+1, is there any ETA for this to be fixed? _This is really painful :/_

[2019-11-10 17:13] VeljkoTN commented on #1514
Another user [reached out](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24475510903).

[2019-11-10 17:36] shantanuraj commented on #1514
@VeljkoTN
We have a PR now it should be merged first thing in the morning.

[2019-11-11 03:49] #1514 closed

[2019-11-11 07:02] shantanuraj commented on #1495
@tcrammond

Pushed an update to the store today let's wait for some numbers on the [bug tracker](https://app.bugsnag.com/toggl-dot-com/toggl-button/errors/?filters[event.since][0][type]=eq&filters[event.since][0][value]=30d&filters[error.status][0][type]=eq&filters[error.status][0][value]=open&filters[app.context][0][type]=eq&filters[app.context][0][value]=login-page&sort=last_seen)

Should we tra

[2019-11-11 12:54] VeljkoTN commented on #1495
[another user reached out](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24455568372) about login issues with the FF extension.

[2019-11-11 14:24] NoriSte commented on #1003
I need it too, it's the only reason why I don't use Toggle yet 😊

[2019-11-11 14:39] TheSoloJake commented on #1514
@Airgunster Just wanted to ping you here in-issue to make sure you saw that the integration has been fixed!

[2019-11-12 07:43] nidarasheed commented on #1487
@lise-toggl I've messaged both users :) I'll let you know if they get back to me.

[2019-11-12 10:24] #1551 closed

[2019-11-12 10:24] #1553 closed

[2019-11-12 13:12] tcrammond commented on #1495
Hey @malfter, sorry you're experiencing this problem and thanks for your patience. We're narrowing down the specific scenario in which this occurs. Would you mind checking some of your Firefox settings for me?

First, in `about:preferences#privacy`, does your History setting look like this?

![Screenshot 2019-11-12 at 13 08 21](https://user-images.githubusercontent.com/6432028/68674458-d1480480-05

[2019-11-12 19:25] malfter commented on #1495
Hi @tcrammond, here my firefox settings:

to your first point, my history will be saved: "Firefox will Remember History"
![ff-history](https://user-images.githubusercontent.com/4189991/68702833-c14e1600-0589-11ea-9774-c3e78d886250.png)

to your second point, third party cookies are blocked.
![ff-cookies](https://user-images.githubusercontent.com/4189991/68702837-c4490680-0589-11ea-9298-9e3b8af5c7e

[2019-11-12 21:44] dianetoggl commented on #1523
@tcrammond I noticed the PR has merged, but the issue is still persisting in the button as far as I can tell :)

[2019-11-13 02:23] lise-toggl commented on #1534
Is this what it's meant to look like? (Added 300px minimum height)
![image](https://user-images.githubusercontent.com/50156618/68727514-bd1d0980-0618-11ea-9946-69d3230966df.png)

[2019-11-13 03:33] shantanuraj commented on #1534
@lise-toggl I think the content view is still not taking the full height of the popup
It should load have the `See more on toggl.com` button as well
![image](https://user-images.githubusercontent.com/1716853/68730920-73bac300-05f4-11ea-9b35-9afcd1755a54.png)

[2019-11-13 03:41] lise-toggl commented on #1534
That message doesn't appear for me until the first time entry is made ([maybe because of this?](https://github.com/toggl/toggl-button/blob/master/src/scripts/popup.js#L210)). Should it always appear, or should we add another placeholder message like "Start tracking your time to see entries here"?

![image](https://user-images.githubusercontent.com/50156618/68731090-fc505800-0622-11ea-852b-dd97e41b

[2019-11-13 14:07] tcrammond commented on #1527
Hopefully will be much improved by #1556, currently going through incremental release. Keeping issue open to track things.

[2019-11-14 13:19] #1422 closed

[2019-11-14 13:31] tcrammond commented on #1523
Should now be resolved in version `1.46.4` 🚀

[2019-11-14 13:31] #1523 closed

[2019-11-14 23:39] lise-toggl commented on #1487
Users have reported that the button is showing so closing this issue :tada:

I couldn't reproduce the multiple buttons issue either, if you get more information from the user on how to reproduce it (a recording would be :ok_hand:) please open a new issue for that one :)

[2019-11-15 02:10] MilesBlueshift commented on #1442
The issue has become even worse in version 1.46.5. Now, not only can I not search for a project, I cannot select a project at all. Clicking the Project dropdown does nothing.

[2019-11-15 03:49] lise-toggl commented on #1498
I've reproduced something similar in Chrome but not sure if it's the same issue:

1. Open Trello in a fairly long (~700px+) window
2. Resize the window to some thing quite short
3. Open a card
4. Scroll down until you can just see the "Start a timer" link
5. Click the link
6. The popup is partially hidden

Will work on a fix for this :point_up:

[2019-11-15 03:50] nicktoggl opened #1561 "Toggl button Chrome pomodoro issues"
* Windows 10 and Mac OS
* awaiting more detail on Chrome version
* Chrome button 1.46.5

#### Relevant integration (if any):

Chrome button

### 🐛 Describe the bug

Two users have reported that the Pomodoro sound alert is extremely loud and distorted. One user has reported that they cannot change the volume from the settings.

In addition, the pomodoro timer seems to be triggering prematurely (cas

[2019-11-15 12:34] tcrammond commented on #1561
🙉 Should be fixed in version `1.46.6`, from PR #1563.

[2019-11-15 12:34] #1561 closed

[2019-11-18 04:04] shantanuraj opened #1564 "[Phoenix] Show the Edit view on clicking stopped entries"
- Show the edit view from the Edit running entry
- Show it on clicking any stopped entry

[2019-11-18 04:05] shantanuraj opened #1565 "[Phoenix] Allow editing of stopped entries"
- Persist changes made in the edit view

[2019-11-18 04:08] shantanuraj opened #1566 "[Phoenix] Add start/stop options to edit view"
- Add start stop options to edit view
- Add static duration field to edit view for stopped entries

[2019-11-18 04:10] shantanuraj opened #1567 "[Phoenix] Add a clock view for running Pomodoro entry"
- Make it optional
- Only render the current running entry in a circular countdown clock
- Add stop entry button

![image](https://user-images.githubusercontent.com/1716853/69024142-7f88f980-09e7-11ea-8e0d-47b34f6e0cb6.png)

[2019-11-18 04:13] shantanuraj opened #1568 "[Phoenix] Add ticking sound playback option"
- Add new sound file for "ticking" effect during running Pomodoro session
- Make it optional
- Make it configurable
 - Volume
 - Speed [Low-Priority]

[2019-11-18 04:19] shantanuraj opened #1569 "[Phoenix] New Pomodoro configuration"
Allow the user to set their own

- Focus duration (already exists)
- Short-break duration
- Long-break duration
- Take a long break after every Xth break
- No break mode [Low Priority]

[2019-11-18 04:31] shantanuraj opened #1570 "[Phoenix] Update post-login page"
- Remove the close page option button
- Add some gifs for onboarding the user
 - On how to start/stop a entry
 - Use an integration
 - New Pomodoro
 - Enable integration [low-priority]

[2019-11-18 04:34] shantanuraj opened #1571 "[Phoenix] Revamp settings page UI to be more webapp"
- Link to designs [https://app.zeplin.io/project/58d91e7333cc4a43c790d340/screen/5d653a89a649819b9caa18ff](https://app.zeplin.io/project/58d91e7333cc4a43c790d340/screen/5d653a89a649819b9caa18ff)

[2019-11-18 04:49] shantanuraj opened #1572 "[Phoenix] Revamp the integrations page"
#### Reference

https://toggl.com/integrations/

![image](https://user-images.githubusercontent.com/1716853/69025093-a9dcb600-09eb-11ea-841e-064feb38e245.png)

- 3 tabs
  - All
  - Popular
  - Enabled

- Fallback to first letter of service name on pastel background if no image
- Render top 20 services in the Popular Tab
- Render selected items in seperate "Enabled" tab
- Default view is the popula

[2019-11-18 05:00] shantanuraj opened #1573 "[Phoenix] Show URLs accessible on clicking an integration"
- Render popup with enabled URLs
- Allow entering custom URL for integration
- Render custom URL as well if already selected

[2019-11-18 05:10] shantanuraj opened #1574 "[Phoenix] Respect user preferences"
- For displaying Time in selected format
- Start of week preference
- Time format
- Date format

[2019-11-18 05:11] shantanuraj opened #1575 "[Phoenix] Dark Mode support"
- Add dark mode support

[2019-11-18 06:45] #1534 closed

[2019-11-18 14:09] VeljkoTN commented on #1487
One user replied with the following

[2019-11-18 19:52] DustinWoods commented on #1422
Confirmed! I am no longer seeing this issue. Thanks Toggl team!

[2019-11-19 06:50] lise-toggl commented on #1567
- use a svg circle with css animation for the outside ring ([quick test here](https://codepen.io/lise-toggl/pen/QWWYjEo?editors=1100))

[2019-11-19 11:29] #1498 closed

[2019-11-19 16:44] mskrip commented on #1524
@shantanuraj Hi, would it be possible to have a word on this from maintainers?

[2019-11-19 16:48] shantanuraj commented on #1524
Sorry this got lost in the shuffle, have this as a custom preference is fine by us.
Though I'd prefer we discuss the architecture and desired workflow before you start working on the implementation.

PS. What do you think about using the Toggl API directly for the custom integrations?

[2019-11-19 17:03] mskrip commented on #1524
Do you mean using Toggle API in a way as proposed in #1474 ? That was closed with the reasoning that it would hinder the maintainer's ability to provide support. And IMO using message events would enable much broader usability (for example integration registration as I've mentioned).

What I have in mind for now is having two more cases in something like [handleIncommingMessage](/toggl/toggl-butto

[2019-11-19 17:20] shantanuraj commented on #1524
No the suggestion in the linked comment, is around creating a generic interface for easily writing and sharing custom integrations, declaratively, instead of writing imperative code as we currently do.

I'm guessing you'll a `postMessage` to your source website to trigger the extension to start/stop entries, correct?
I don't mind that, I just have a question that you directly invoke the Toggl API

[2019-11-19 17:24] mskrip commented on #1524
Yes, that's right with the `postMessage`.

As for Toggl API, yeah sorry I blanked out. That approach is possible. But would require also implementing per-user authentification on the custom website. And that wouldn't be possible on static websites. Having access through the extension would solve that issue right away.

[2019-11-19 17:27] shantanuraj commented on #1524
Sure thing, feel free to add this feature, my only suggestion at this point is to make it an optional feature.
ie. Add a toggle in the settings to enable it.

[2019-11-19 18:37] shantanuraj opened #1579 "[Phoenix] Allow expanding grouped entries"
- Allow expanding grouped entries
- Click entry to expand grouped entry

[2019-11-19 20:04] shantanuraj opened #1581 "[Phoenix] Update TE on clicking Done In Edit View"
### Describe the changes you'd like

- Currently changes made in the edit form for stopped entries are not persisted on clicking Done
- Please add support for changing stopped entries as well

[2019-11-19 20:05] shantanuraj commented on #1581
Duplicate of #1565

[2019-11-19 20:05] #1581 closed

[2019-11-20 06:32] lise-toggl opened #1583 "[Phoenix] Allow deleting time entries"
- Add a "Delete" button to the edit view to delete the selected entry

Similar to the Delete button in the calendar view in webapp
![image](https://user-images.githubusercontent.com/1716853/69276687-eb947900-0c04-11ea-9638-a5b8be01e421.png)

- Delete the linked time-entry on clicking delete
- Rerender the time entries list

[2019-11-20 09:30] VeljkoTN opened #1585 "Integration popup does not close when you click outside of it"
* **OS version**: Windows 10
* **Browser version**: Edge Chromium Beta (Basically Chrome) Version 79.0.309.25
* **Extension version**: Version 1.46.6

#### Relevant integration (if any): Asana (https://app.asana.com)

### 🐛 Describe the bug

If you start a timer and navigate away without closing the popup it stays visible:

![Toggl Button popup issue Asana](https://user-images.githubusercontent.co

[2019-11-20 10:02] maxwellt commented on #975
Any comments on why this issue has been closed and not integrated?

[2019-11-20 10:05] shantanuraj commented on #975
This _was_ integrated in #964

https://github.com/toggl/toggl-button/wiki/Where-can-I-find-the-Button%3F#microsoft-planner

[2019-11-20 10:09] maxwellt commented on #975
D'oh, I forgot I had to enable it in the settings which is why I thought this was never integrated. Thanks for the link :-).

[2019-11-20 10:38] shantanuraj commented on #1003
This is scheduled for development https://github.com/toggl/toggl-button/issues/1568
Should be ready for deployment in the coming week or so

[2019-11-20 12:02] thiagomaia971 commented on #321
Did you have any breakthrough?

[2019-11-20 14:48] VeljkoTN commented on #1454
[user report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24629045099)

[2019-11-20 19:27] shantanuraj opened #1588 "Fix grouping and time entries list rendering"
* **OS version**:
* **Browser version**:
* **Extension version**: Phoenix-Release-1+

### 🐛 Describe the bug

From @tcrammond

### Expected behaviour

- No changes should happen in the rendered list if underlying data isn't modified.
- Similar time entries should be grouped

### Other details or context

Investigate the grouping algorithm
https://github.com/toggl/toggl-button/blob/a071774cbde28ced

[2019-11-21 15:07] tcrammond commented on #1588
Also worth noting: webapp grouping was tweaked recently, probably worth making sure we still match that. (Note that it has an oversight with billable/non-billable, though)

[2019-11-21 15:45] #1564 closed

[2019-11-21 15:45] #1565 closed

[2019-11-21 15:45] #1579 closed

[2019-11-22 10:17] tcrammond opened #1591 "Asana: Button does not always pick up the project"
### 🐛 Describe the bug

The project is not being picked up in spreadsheet/list views.

### Other details or context

[Thread](https://toggl.slack.com/archives/C9LMUPD9T/p1574241938121100?thread_ts=1573221761.455200&cid=C9LMUPD9T)

[2019-11-22 10:38] nidarasheed commented on #1591
[Case Reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/534741/conversations/24661790414)

[2019-11-22 14:41] tcrammond commented on #1527
This is **significantly** improved (fixed?) in the latest versions.

I don't think we need to keep this open anymore, so let's close it and make new issues for any specific problems that come up in future 🎉 .

[2019-11-22 14:41] #1527 closed

[2019-11-25 03:55] EmmanVazz commented on #1485
https://chrome.google.com/webstore/detail/toggl-button-productivity/oejgccbfbmkkpaidnkphaiaecficdnfn?hl=en

![image](https://user-images.githubusercontent.com/1174973/69511240-12082c00-0f05-11ea-8ec9-4cebddaf960a.png)

This definitely caused some confusion for me. I suggest removing it if there is no integration.

[2019-11-25 11:37] mskrip commented on #1524
Hi @shantanuraj I just had another idea of how to solve this. Would it be OK to have a message event listener that injects a new timer link based on the data it receives? This would solve all issues for handling specific events around the timer itself (starting, pausing, editing) and use an already existing interface for that. What I mean is something like this:

[code]

Of course with this being

[2019-11-25 13:33] shantanuraj opened #1596 "Integrations Popup ignores changes made to it"
* **OS version**: All
* **Browser version**: All
* **Extension version**: 1.48.0+

#### Relevant integration (if any):

All

### 🐛 Describe the bug

- The popup in the embedded in pages ignores changes made on pressing `Done`

### Expected behaviour

- Changes should be persisted and sent to the API

### Steps to reproduce

Steps to reproduce the behaviour:
- Start any integrated timer
- Make some

[2019-11-25 14:07] VeljkoTN commented on #1596
[case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24701988334)

[2019-11-25 14:57] #1596 closed

[2019-11-27 06:49] #1003 closed

[2019-11-27 06:49] #1567 closed

[2019-11-27 06:50] #1568 closed

[2019-11-27 17:46] shantanuraj commented on #1524
@mskrip  So I spent time on the idea,
I think regarding your use-case a better method to implement this would be to create a new generic integration (just like the other content scripts) using `data-` attributes

So in your DOM you can define an element like

[code]

write a new content script `generic-toggl.js` that works for this DOM api
 and enable it for your particular domain
![image](https:/

[2019-11-27 19:06] dianetoggl commented on #1454
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3540765/conversations/24741851064)

[2019-11-28 10:39] mskrip commented on #1524
Wouldn't that have the same issues as #1474 had?

[2019-11-28 10:45] shantanuraj commented on #1524
It would, at that point we were exploring #1141
but I am pretty sure that we aren't doing it in the foreseeable future (it has it its own problems)

It is inhertently similar in principle to what Meistertask is doing
https://github.com/toggl/toggl-button/blob/361d7eb682a0b7c82fbe59ac237d4972bfbe31e5/src/scripts/content/meistertask.js#L45-L53

So feel free to adopt this route

[2019-11-28 12:19] mskrip commented on #1524
Sure that's simple enough. Where would be a good place to document that? I see a `docs` folder but that seems like it's purely auto-generated stuff.

[2019-11-28 12:36] shantanuraj commented on #1524
You can add it as another section in the `.github/CONTRIBUTING.md` file we can take over once you are done with the PR and reference it from the README

[2019-11-28 14:06] jhbertra commented on #1202
Why is this not documented here? https://toggl.com/trello-time-tracking/

From what I can tell, this is a _necessary_ setup step.  Very confusing!

[2019-11-28 14:09] shantanuraj commented on #1202
@jhbertra we hear you, there's a WIP PR https://github.com/toggl/toggl-button/pull/1598
that will help improve the onboarding process, and show how to enable integrations and use other extension features

[2019-11-29 09:29] VeljkoTN commented on #1496
[case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2097020/conversations/24770037914)

From the screenshot shared with the user it appears that the layout is changed and that's probably why the integration is not working

[2019-12-01 18:46] dianetoggl commented on #1495
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24791086560)

[2019-12-02 10:58] tcrammond commented on #1485
References to Quickbooks have been removed, as the integration did not exist 🙈

Converting this issue to feature request

[2019-12-02 10:59] tcrammond opened #1605 "Add integration with Quickbooks"
**Link to service:** https://quickbooks.intuit.com/

### Describe the solution you'd like

Unknown, waiting for further user requests / suggetions

#### Additional context

From #1485

[2019-12-02 11:00] #1485 closed

[2019-12-02 11:36] rylek90 opened #1606 "Autocomplete popdown renders with min possible height when document's body is short"
* **OS version**:  All
* **Browser version**: All
* **Extension version**: All

#### Relevant integration (if any):
First happened for Worksection (see https://github.com/toggl/toggl-button/pull/1604) but possibly more things are affected

### 🐛 Describe the bug
When body is really short autocomplete popdown renders with `55px` height.

See screenshot:
![image](https://user-images.githubuserconten

[2019-12-02 18:29] dianetoggl commented on #1495
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3540765/conversations/24831432024)

[2019-12-03 07:03] #1606 closed

[2019-12-03 07:04] #1496 closed

[2019-12-03 14:56] tcrammond commented on #1585
I think this is a global problem that we should handle

[2019-12-03 14:58] tcrammond commented on #1591
Should have been fixed in #1586  🎉

[2019-12-03 14:58] #1591 closed

[2019-12-03 14:59] tcrammond opened #1609 "Asana: List view buttons should conform to styleguide"
### Describe the changes you'd like

Asana integration in list views should not show the button in every row. They should only show on hovering the row (unless it is the running timer)

[2019-12-03 15:02] tcrammond commented on #1609
When this is done, follow up on [Firefox store](https://addons.mozilla.org/en-GB/firefox/addon/toggl-button-time-tracker/reviews/1454927/)

[2019-12-03 17:10] fonorobert opened #1610 "Add website blocking"
### Describe the new feature

Similar to #1540 but I'd like a more generic tool. I'd like Toggl Button to serve as a website blocker that gets turned on when the timer is running. It would also be great to be able to select certain projects and only have the blocker on when a timer with one of these projects is running.

### How does this help you?

This would help me focus when I'm working. Norma

[2019-12-05 10:58] mskrip commented on #1524
Hi @shantanuraj , I've made a PR for this. Can I get an estimate on when will someone be able to take a look at it?

[2019-12-05 20:08] shantanuraj commented on #1524
hey 👋
I'm on vacation this week, I'll push some changes here and merge it on Monday, if that works for you

[2019-12-09 04:52] nicktoggl commented on #1495
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2097915/conversations/24918846396)

[2019-12-10 09:26] #1524 closed

[2019-12-10 10:48] #1454 closed

[2019-12-10 10:55] tcrammond commented on #1454
Toggl Button in Notion has been restored in the "pop up views", such as when opening a card:

![Screenshot 2019-12-10 at 10 54 12](https://user-images.githubusercontent.com/6432028/70523649-6af9d600-1b3b-11ea-8cb2-5689bb0cf689.png)

[2019-12-10 12:28] nidarasheed opened #1616 "Improve pomodoro sound"
### Describe the new feature
 Suggestion: if the ticking sound beta feature sounds more like a digital clock seconds counter and doesn’t sound as if its trying to stutter, it will make a nice, non-distracting background. A bit how white noise works in that context

[Slack](https://toggl.slack.com/archives/C9LMUPD9T/p1575977228428000)

[2019-12-11 03:49] #1570 closed

[2019-12-11 03:49] #1571 closed

[2019-12-11 07:54] nidarasheed commented on #1495
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/534741/conversations/24955722833)

[2019-12-11 07:54] shantanuraj opened #1618 "Add Fallback login option"
### Describe the new feature

- Add Fallback login option to the login page in case of a login error in standard flow

### If we couldn't add this feature, is there a compromise you can think of?

- No, related to several cases mentioned in #1495

[2019-12-11 16:46] dianetoggl commented on #1495
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3540765/conversations/24950350803)

[2019-12-12 06:50] nidarasheed opened #1619 "Append the running timer to the Day’s total"
### Describe the new feature
Today's total should include the running timer. If this can be added elsewhere instead, that's ok too.

### How does this help you?
Gives user a tally of total hours logged thus far similar to web-app.

### If we couldn't add this feature, is there a compromise you can think of?

[2019-12-12 06:51] nidarasheed commented on #1619
[Case reference 1](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/534741/conversations/24957633802)
[Case reference 2](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/534741/conversations/24959286104)

[2019-12-13 02:55] #1583 closed

[2019-12-13 05:31] nidarasheed commented on #1495
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/534741/conversations/24953898726)

[2019-12-13 11:43] nidarasheed commented on #1495
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/534741/conversations/24991909318)

[2019-12-16 09:43] teusch opened #1622 "TRELLO card gets closed when project dropdown is clicked"
Please follow this guide when creating a new issue. This speeds up the process of replicating the issue and finding a solution.

### Environment details

* Operation system: OS Name	Microsoft Windows 10 Enterprise

* Extension version: 1.52.0

### Expected behavior
when I open the toggl button popup on the Trello card and I try to choose a project I expect the the trello card to stay open.

### Ac

[2019-12-16 11:40] mrjones2014 opened #1623 "Jira integration: cannot select project from modal view"
* **OS version**: Windows 10
* **Browser version**: Chrome 79
* **Extension version**: Version 79.0.3945.79 (Official Build) (64-bit)

#### Relevant integration (if any): Jira Cloud (*.atlassian.net)

### 🐛 Describe the bug

the Project dropdown is no longer clickable when you click "Start Timer". Also the "Start Timer" button appears twice.

### Expected behaviour

There should only be 1 "Start T

[2019-12-16 22:18] #1619 closed

[2019-12-18 20:52] dianetoggl commented on #1495
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/24999261540)

[2019-12-18 22:40] Shadrock commented on #1202
I am having this issue now. I have selected settings for Toggl Button as listed above (checked permissions for atlassian.net and atlassian.com). Sill no button showing up...

[2019-12-19 00:55] lise-toggl commented on #1202
@Shadrock could you please get in touch with our support team (support[at]toggl.com) with some screenshots of your Toggl Button settings and the Atlassian page where the button isn't showing? Thanks!

[2019-12-19 07:13] #1618 closed

[2019-12-19 08:37] shantanuraj commented on #1495
Latest [release](https://github.com/toggl/toggl-button/releases/tag/1.53.0) (fix landed in #1624)
Contains a fallback-login option that will trigger if the regular web-based-login fails
Users can login using their credentials using that form

![image](https://user-images.githubusercontent.com/1716853/71157694-85812d00-2268-11ea-95d2-243c917e8a73.png)

Closing this for now

[2019-12-19 22:15] dianetoggl opened #1628 "Toggl integrations search must be lower case"
Win10
Version 79.0.3945.79 (Official Build) (64-bit)
Version 1.53.0

#### Relevant integration (if any):

When searching in the button integrations tab you have to search in lower case or the results will not populate.

### Expected behaviour

Search shouldn't be case sensitive.

### Steps to reproduce
Steps to reproduce the behaviour:
1. Go to integrations tab
2. Type one upper case letter
3. All

[2019-12-19 22:18] dianetoggl opened #1629 "Google login option is missing from fallback"
### 🐛 Describe the bug

User is presented with the fallback login, but no option to login via Google credentials

### Expected behaviour

User should have the option of logging in via Google.

### Steps to reproduce

Steps to reproduce the behaviour:
1. Have initial Toggl Button login fail
2. Be presented with the fallback login page
3. No Google login

### Other details or context

Follow up to #

[2019-12-19 23:33] dianetoggl commented on #1629
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/search/conversations/23504620658?assigneeIdentifier=all&q=google)

[2019-12-20 08:26] lise-toggl commented on #1623
@mrjones2014 thank you for the bug report!

We are working on a fix for the project dropdown at the moment. Could you confirm if both the project and tag dropdowns don't work for you, or just the project one?

Re the timer appearing twice, are you comfortable saving or taking a screenshot of the relevant DOM portion and sending it into our support team?

[2019-12-20 08:28] #1628 closed

[2019-12-20 10:18] VeljkoTN commented on #1495
a user confirmed that they can login now 💪

[2019-12-21 08:22] ckrf opened #1631 "Asana: new task view doesn't display Toggl button"
### Environment details

* Operation system: Windows
* Extension version: 1.54.1

### Expected behavior
When I click on a task in a Saved Report, I get a "Task View" pane on the right side of the screen. In the past, at the top of the pane was a Toggl button.

### Actual behavior
Asana has just redesigned the task view. It no longer displays a Toggl button.

### Steps to reproduce the behavior
Ope

[2019-12-23 10:08] nidarasheed opened #1632 "Change Delete Button"
### Describe the new feature

Hi there, just wanted to send some feedback on the new browser plugin UI. It’s looking great, and seems much better than before - especially grouping entries by date, which makes things much easier to see.
However, when entering things quickly, I keep clicking the delete button instead of the Done button.
The hit area for delete is double that of both Done and Cancel

[2019-12-23 23:03] dianetoggl commented on #1347
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3540765/conversations/25137979593)

[2019-12-25 01:05] qins commented on #1027
Is there any service like toggl but support quire？

[2019-12-26 10:43] panfanky opened #1633 "Button not showing up anymore in Asana task detail"
* **OS version**: Win8
* **Browser version**: 79.0.3945.88 (Official Build) (64-bit)
* **Extension version**: 1.54.1

#### Relevant integration (if any): Asana  https://app.asana.com

### 🐛 Describe the bug

The button is visible in List view, but not in the head of the task detail where I remember it.

### Expected behaviour

When opening the task detail, the button used to be in the upper right.

[2019-12-26 14:13] TheSoloJake commented on #1633
Related to #1631 ?

[2019-12-26 14:13] TheSoloJake commented on #1631
Related to #1633

[2019-12-26 16:02] ckrf commented on #1633
Yes, this looks like the same thing I reported in #1631

[2019-12-26 18:01] TheSoloJake opened #1634 "Button Does Not Appear in Asana Board"
* **OS version**:
* **Browser version**:
* **Extension version**:

#### Relevant integration (if any):

Asana (https://app.asana.com)

### 🐛 Describe the bug

In Asana's Board view, clicking on a card to open it does not show "Start Timer" button

### Expected behaviour

Button should appear in card when clicked

### Steps to reproduce

Visit Asana webapp
Click on "Boards" tab
Click on card to ope

[2019-12-26 21:08] TheSoloJake commented on #1633
[User report](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2137598/conversations/25114598250)

[2020-01-02 13:35] mrjones2014 commented on #1623
@lise-toggl confirmed, the issue is for both dropdowns.

Here's some screenshots of the DOM with sensitive information censored.

![image](https://user-images.githubusercontent.com/8648891/71669404-8ae77880-2d3a-11ea-9f23-67cb63bc22c5.png)

![image](https://user-images.githubusercontent.com/8648891/71669468-c08c6180-2d3a-11ea-9562-f3b5b7cef4d1.png)

[2020-01-06 11:47] mrjones2014 commented on #1623
If it helps, the URL I am using if of the format myorgname.atlassian.net

[2020-01-06 23:38] #1631 closed

[2020-01-07 03:40] ckrf commented on #1631
Fantastic! Thank you! This isn't available for download in the Chrome web store yet for some reason.

[2020-01-07 07:07] lise-toggl commented on #1623
Thanks @mrjones2014! We're trying some ideas for the dropdown issue and hopefully will find a solution soon.

For the double button issue, would you be able to show me any ancestor DOM elements with the `.toggl` class? Thanks :)

[2020-01-08 00:36] lise-toggl commented on #1631
@ckrf the update has been approved so you should be able to get it now - let us know if you have any issues :)

[2020-01-08 03:43] ckrf commented on #1631
Got it! Thanks!

On Wed, Jan 8, 2020 at 6:06 AM Lise <notifications@github.com> wrote:

--
I check this mailbox once per day. If time sensitive, please text me.

[2020-01-08 03:46] lise-toggl commented on #1633
Closed with #1636 :tada:

[2020-01-08 03:46] #1633 closed

[2020-01-08 03:46] lise-toggl commented on #1634
Closed with #1636 :tada:

[2020-01-08 03:46] #1634 closed

[2020-01-08 11:59] mrjones2014 commented on #1623
@lise-toggl I think it may be on Jira stories that are part of an Epic, because it shows 2 Jira numbers (the Epic number / the Story number)

![image](https://user-images.githubusercontent.com/8648891/71976479-6aa93500-31e4-11ea-90eb-319b96771f50.png)

[2020-01-09 04:57] lise-toggl commented on #1623
@mrjones2014 awesome - it was indeed the epic and we've been able to reproduce it now. Thanks for the screenshots, I should be able to fix it soon :)

[2020-01-10 05:08] #1448 closed

[2020-01-10 05:08] #1623 closed

[2020-01-10 09:48] nickdavis commented on #635
Hi, is there any news on this? I just signed up to an annual plan and assumed that a Safari extension would be available. Thanks.

[2020-01-10 10:08] zorancorovic commented on #635
So there are questions about this extension from 2016, and now it's 2020 and still nothing has been done?

[2020-01-10 12:34] mrjones2014 commented on #1623
@lise-toggl any idea when this version will be published to the chrome web store?

[2020-01-10 12:43] tcrammond commented on #1623
Hey @mrjones2014, we'll be publishing to the web stores shortly. It sometimes takes a little while to be rolled out to all users, but you should find yourself on the new version some time today 🤞

[2020-01-10 16:58] dlgenterprises commented on #1023
Is this fixed?  I have one work space that has the button missing, and the rest are working fine.

[2020-01-13 12:51] mrjones2014 opened #1644 "Jira intergration adds "Copy the link to this issue" to the title"
* **OS version**: Windows 10
* **Browser version**: Chrome version 79.0.3945.117
* **Extension version**: 1.56.1

#### Relevant integration (if any): Jira

myorganizationname.atlassian.net

### 🐛 Describe the bug

When you click "Start Timer", if you then to to toggl.com/app/timer, it shows "Copy the link to this issue" directly after the issue number in the title of the toggl item.

### Expected

[2020-01-13 13:29] tcrammond commented on #1644
Hey, sorry you are experiencing this problem. We'll fix it as soon as possible 👍

For future selves: I tracked it down, it happens only when viewing an issue in a project of the "Next generation scrum" project format.

[2020-01-13 16:13] TheSoloJake opened #1646 "Asana: Newly created tasks are not tracked correctly when hitting Start Timer"
* **Browser version**: Chrome Latest
* **Extension version**: 1.56.1

#### Relevant integration (if any):

Asana webapp

### 🐛 Describe the bug

After just creating a new task in the Asana webapp's Task List view, clicking on the TogglButton next to the task will not copy the task name over to the TE description

### Expected behaviour

No matter how "new" the task is, the Button should copy the t

[2020-01-13 22:17] TheSoloJake commented on #1644
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2137598/conversations/25368229300)

[2020-01-13 22:18] TheSoloJake commented on #1644
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2137598/conversations/25371860423)

[2020-01-14 01:14] #1644 closed

[2020-01-14 06:41] lise-toggl opened #1647 "Remove old Asana detail view code"
### Describe the changes you'd like

Reverse of #1643, once Asana's new detail view has been rolled out for all users.

[2020-01-14 11:54] karlhorky opened #1648 "Notion: Toggl buttons for Checkbox Lists, List / Board / Table Views of Databases"
Hi, thanks for the hard work on Toggl and this extension!

I wanted to ask for an update to the Notion integration (PR #1203 from me, updated in #1612 by @rylek90 and #1617 by @lise-toggl).

These suggestions were actually originally suggested in #896 by @lewcart (https://github.com/toggl/toggl-button/issues/896#issuecomment-444753232).

### Describe the changes you'd like

#### Button for Items i

[2020-01-15 01:47] lise-toggl commented on #1646
I could only reproduce this in the My Tasks view, which makes sense because that's the only one where the description selector isn't a function.

I've made a quick fix so that the description is filled in.

Unfortunately the button won't show as active (red) after clicking but this also affects the other views so I'll create another issue for that to be fixed in the future :(

[2020-01-15 01:58] lise-toggl opened #1650 "Asana button active/inactive status"
* **Extension version**: 1.56.2

#### Relevant integration (if any):

[Asana](https://app.asana.com/), maybe others

### 🐛 Describe the bug

The button doesn't always reflect the correct active/inactive status. Two issues I've noticed so far:

1. After creating new task/changing task description
The button turns red when you first click on it, but after closing the edit popup it turns grey again,

[2020-01-15 08:27] #1622 closed

[2020-01-15 11:45] #1646 closed

[2020-01-16 09:51] VeljkoTN opened #1654 "Task viability issue when searching for projects using client name"
* **OS version**: Win 10
* **Browser version**: Chrome 79.0.3945.117
* **Extension version**: 1.56.2

### 🐛 Describe the bug

When you click on a TE to edit it (running or previously stopped existing) you will be able to search for a project with both the project name and the client name. If you search for a project with the project name you will get the correct result along with existing tasks:

[2020-01-16 09:56] VeljkoTN opened #1655 "Issue with creating TEs in a workspace with required fields"
* **OS version**: Win 10
* **Browser version**: Chrome 79.0.3945.117
* **Extension version**: 1.56.2

### 🐛 Describe the bug

If a Premium workspace does not allow creating TEs without, for example, tasks and you do create such a TE using the Toggl Button extension there will be nothing to tell you that this is not allowed.

The only odd thing is that you will not be able to stop a running timer t

[2020-01-16 16:21] kadrihvl opened #1656 "TB not appearing in RallyDev"
* **OS X 10.14.6**:
* **79.0.3945.117**:
* **1.56.2**:

#### RallyDev rally1.rallydev.com

### 🐛 User has reported that the extension is not appearing in RallyDev. Has tried removing > re-adding the ext. I'm adding her view from RallyDev and print screen of extension settings integrations tab.

![image (1)](https://user-images.githubusercontent.com/12407134/72542529-fa0db280-388c-11ea-9166-a2672ab

[2020-01-16 21:39] dianetoggl commented on #1656
Follow up comment from user:

[2020-01-17 08:46] #1632 closed

[2020-01-17 16:30] #1585 closed

[2020-01-20 09:04] glensc commented on #1497
@bflorat perhaps you have some conflicting extension installed, have you tried that in a pristine environment (incognito or fresh profile)?

[2020-01-20 09:08] glensc opened #1657 "Improve UI for adding tags from on page by an integration plugin"
When developing https://github.com/toggl/toggl-button/pull/1639#issuecomment-572129533 I noticed that if I provide `tags` key as an array, the UI is clunky, it joins the array into a comma-separated list and appearing as the single dropdown entry.

I believe the ui should be improved to present multiple tags better, perhaps something as tag cloud.

[2020-01-20 10:29] DomTheBass commented on #635
+1 - please let's have a safari extension!

[2020-01-20 10:30] dawidgora commented on #635
+1

[2020-01-21 10:55] fuzzy76 commented on #635
Please stop spamming everyone in this issue with non-helping comments. The correct way to signal votes is using the thumbs-up reaction on the issue itself.

[2020-01-22 22:50] MilesBlueshift commented on #1442
@nicktoggl the issue has been fixed as of the 1.56.2 release. Thanks!

[2020-01-23 01:19] MilesBlueshift commented on #1442
@nicktoggl never mind that last message Nick. It seemed to work once, but the issue is back again.

[2020-01-24 09:45] glensc commented on #1657
for example, the existing ui, having two tags selected, it's rather inconvenient to remove one tag, as have to find the tag you want to remove from very long tag list.

![image](https://user-images.githubusercontent.com/199095/73059696-f2f32f80-3e9e-11ea-9bc0-ccb308ed0968.png)

[2020-01-27 12:27] tcrammond opened #1659 "Projects dropdown: Strange scrolling behaviour in Todoist"
* **OS version**: *
* **Browser version**: *
* **Extension version**: 1.58.0

#### Relevant integration (if any):

Todoist. I did a quick check in an other integration and did not see the same issues, but it's worth checking more of the popular integrations.

### 🐛 Describe the bug

The projects drop down in particular has some strange behaviour in Todoist; it could be due to a Todoist update or s

[2020-01-27 12:33] tcrammond commented on #1657
Thanks for the feedback. I think we'd love to improve the tags selection, bringing it up to the level of our other clients such as Web and Desktop. I don't know when it will be, but it's definitely on our radar for the future 👍

[2020-01-27 12:40] tcrammond commented on #1497
Sorry that there wasn't a quicker conclusion to this thread. It looks like the problem is solved at this point and there haven't been further reports, so I'll close the issue. I could not reproduce the bug under Firefox nor Chrome.

Please let us know if anyone is still experiencing problems and we'll get right on it 🙇

[2020-01-27 12:40] #1497 closed

[2020-01-27 20:19] bflorat commented on #1497
I confirm it is fixed under Firefox. Thanks.

[2020-01-28 05:09] nidarasheed commented on #1501
[case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/534741/conversations/25549300328)

[2020-01-28 05:22] lise-toggl commented on #1659
This is due to the popup position being changed to `fixed` here https://github.com/toggl/toggl-button/pull/1625/commits/56e29d3015e9b710f498473d09bf2eeaca0e9492#diff-06c72a7198e9adae75546aab4cd17b53R330, working on a patch

[2020-01-28 12:02] #1659 closed

[2020-01-29 10:18] glensc commented on #1657
![image](https://user-images.githubusercontent.com/199095/73348078-6925d680-4291-11ea-9179-f39af0d38caa.png)

[2020-02-03 01:55] troggy opened #1662 "Workflowy integration doesn't seem to work"
* **OS version**: MacOS Mojave 10.14.4
* **Browser version**:  Brave Browser 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)
* **Extension version**:  1.59.1

#### Relevant integration (if any):

Workflowy
https://workflowy.com/

### 🐛 Describe the bug

No "Start timer" item shown in menu

### Expected behaviour

I would expect to see "Start timer" menu item like described in https://gith

[2020-02-03 03:19] nicktoggl opened #1663 "Opening Chrome causes Toggl button settings to open on every load"
* **Windows 10**:
* **Chrome awaiting more information from user**:
* Windows v7.4.1112

### 🐛 Describe the bug

The case [here](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2097915/conversations/25617417587), is the second case I've seen where a user reports that the Toggl button settings menu opens each time they open Chrome.

### Expected behaviour

Opening Chrome shouldn't open the Togg

[2020-02-03 10:16] pavel64-sutyrin commented on #1662
+1 Firefox, Ubuntu.

[2020-02-04 08:25] netbrothers-tr opened #1665 "Optionally add milestone name to Toggl entry"
Hi, as a feature request, we would like the corresponding GitLab milestone to be added to the Toggl entry.

### Environment details

* Operation system: Linux
* Extension version: 1.59.1

### Actual behavior

The button is able to use the issue or merge request title as the title of the Toggl entry. It also matches the right project, if they're named equally in GitLab and Toggl: very handy.

### D

[2020-02-04 20:59] dianetoggl commented on #1663
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3540765/conversations/25637645096)

Resetting all settings, uninstalling and reinstalling.
This user is on Windows 7
Happens an estimated 25% of the time when opening a new Chrome window with no other windows open.
Button version 1.59.1

[2020-02-05 00:53] nicktoggl commented on #1663
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2097915/conversations/25449019707)

[2020-02-05 11:47] #1662 closed

[2020-02-05 12:29] teusch opened #1667 "Long task title overlaps task title below"
### Environment details

* Operation system: windows 10
chrome and firefox

### Expected behavior
All titles of tasks should be readable.

### Actual behavior
If the tile of a task is too long it  continues over the title of the next task rendering the next task illegible
### Steps to reproduce the behavior
open project with long tasks and see that som task titles are unreadeble

### Additional de

[2020-02-05 13:15] tcrammond commented on #1667
Thanks for reporting this, will work on a fix 🔍

[2020-02-05 13:42] #1667 closed

[2020-02-06 03:43] losbojos commented on #909
the most important function

[2020-02-06 14:25] Airgunster opened #1670 "TickTick integration issue: _What are you doing_ field is not populated"
* **OS version**: macOS 10.15.3
* **Browser version**: Firefox 72.0.2
* **Extension version**: 1.59.3

#### Relevant integration (if any):
TickTick: https://ticktick.com/#c/all/calendar/w

### 🐛 Describe the bug
When you click on the task in TickTick and then click on _Start timer_ button _What are you doing_ field left empty (which means that this activity will be captured in Toggl with empty _De

[2020-02-07 12:09] VeljkoTN commented on #1663
I've seen other cases of this as well I think, let's make it one of the 3 priority cases for next week.

[2020-02-08 19:49] ygeorgik commented on #1670
I confirm the problem. The button does not accept the value of the task description field from anywhere. Not just from the calendar. For example here: https://www.ticktick.com/#q/all/tasks
![Image 2020-02-08 at 10 46 41 PM](https://user-images.githubusercontent.com/43469777/74091121-218b2000-4ac5-11ea-9896-ca7b55b7cf52.png)

OS version: macOS 10.15.3
Browser version: YandexBrowser 20.2.0.1145
Exte

[2020-02-11 17:34] dianetoggl commented on #1663
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3540765/conversations/25733017361)

[2020-02-12 10:24] VeljkoTN commented on #1670
Any updates here? :)

[2020-02-13 10:14] tcrammond opened #1672 "Trello: Task list buttons no longer working"
#### Relevant integration (if any):

Trello

### 🐛 Describe the bug

Buttons do not show on the list of tasks (when viewing card details)

![Screenshot 2020-02-13 at 10 12 53](https://user-images.githubusercontent.com/6432028/74424236-79b97d80-4e49-11ea-8851-d90deb4c9609.png)

Looks like the UI has changed a bit.

### Expected behaviour

Buttons show next to each task on hover

[2020-02-13 12:16] kadrihvl commented on #1672
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/3724360/conversations/25755941554)

[2020-02-13 16:24] #1663 closed

[2020-02-13 17:47] zdericnina commented on #1672
[case reference](https://app.intercom.io/a/apps/ayixs927/inbox/2759100/conversations/25752347554)

[2020-02-13 18:16] zdericnina commented on #1672
[case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/2759100/conversations/25762181694)

[2020-02-13 21:21] dianetoggl commented on #1672
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/21560455613)

[2020-02-14 04:03] #1670 closed

[2020-02-14 04:29] nicktoggl commented on #1663
users notified, thanks 👍

[2020-02-14 05:36] #1672 closed

[2020-02-18 13:20] VeljkoTN commented on #1654
Any updates here?

[2020-02-18 13:20] VeljkoTN commented on #1655
Any updates?

[2020-02-19 12:50] RazerM opened #1677 "Duplicate Start timer link on GitLab merge requests"
* **OS version**: macOS Sierra
* **Browser version**: Firefox 73.0.1
* **Extension version**: 1.60.4

#### Relevant integration (if any):

GitLab. Bug appears on gitlab.com or a custom URL

### 🐛 Describe the bug

The "Start timer" link is shown twice on merge request pages:

![image](https://user-images.githubusercontent.com/1337586/74835618-04085280-531e-11ea-8236-d7da60787b01.png)

### Expected

[2020-02-19 16:17] stuartbruce opened #1678 "Add support for to-do.office.com not just to-do.microsoft.com"
The Microsoft To-Do integration only works with the personal version and not the business version of To-Do as it is a different URL.

[2020-02-19 20:20] madhaze opened #1679 "Add support for sidebar calendar in gmail/google mail"
### Describe the changes you'd like

In gmail a users calendar can display in the sidebar on the right.  It would be nice to have the toggl button for events detail view in this like we have on the full google calendar.  Currently I see an event in the sidebar but I need to go to a separate tab of google calendar to start a timer.

### Relevant links or screenshots
https://www.dropbox.com/s/hefjdj

[2020-02-20 04:58] Stvad opened #1680 "Add integration with RoamResearch"
**Link to service:** https://roamresearch.com

**Is there a free account option?**: Yes

### Describe the solution you'd like

I imagine it can be similar to Workflowy integration: https://github.com/toggl/toggl-button/pull/1335

[2020-02-20 09:58] benmccallum commented on #948
I'm on Chromium-based Edge now and installing the extension from the Google WebStore works in that I get the button next the address bar, but I don't get the in-page button in JIRA.

Since you guys haven't implemented the extension for the old standalone Edge, I imagine it wouldn't be too hard to fix this since it's Chromium under the hood.

[2020-02-20 15:27] tcrammond commented on #948
Hey @benmccallum, just wanted to double check if you've enabled the JIRA integrations from within Toggl Button's settings? We haven't declared official support for the new Edge browser yet, but as you said hopefully it won't be too difficult to iron out any kinks!

[2020-02-20 15:28] benmccallum commented on #948
Oh man... sorry @tcrammond ! I didn't even realise that was a thing. I guess I'd set it up in Chrome so long ago I didn't realise. All good now and it appears. Cheers!

[2020-02-24 06:04] nidarasheed commented on #1470
[Case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/534741/conversations/23889490912)

[2020-02-24 14:24] tcrammond commented on #1677
Thanks for reporting the issue. This has been fixed in #1676 by mskrip and should be released in the coming days 🎉

[2020-02-24 14:24] #1677 closed

[2020-02-27 18:03] rizerzero commented on #297
Hi guys ! still no pause feature ?

[2020-03-03 07:41] kadrihvl opened #1686 "Toggl Button icon not reflecting timer state correctly"
* **OS X 10.15.3**:
* **Chrome 80.0.3987.122**:
* **TogglButton/1.60.4**:

#### Relevant integration (if any):

### 🐛 Describe the bug

- Open the extension on Chrome
- Fill in “What are you working on?” field
- Start the timer & add a tag
- Stop the timer then restart it the last entry again
At this point (or if you repeat the last step once more) it starts to act up showing wrong states when swi

[2020-03-03 08:02] kelstnerspringwork commented on #1483
Any news for this issue?
I have nearly every day continuing toggl tasks in the background, because the extension misses that another task has been started, or the current task has been stopped.
At 12am toggl extension will automatically stop this tasks, but mostly as soon as the computer resumes from standby the next day.
As a pro user I request a fast fix for this issue by the toggl core team. Ac

[2020-03-03 08:12] nidarasheed commented on #1483
[case reference](https://app.intercom.io/a/apps/ayixs927/inbox/inbox/unassigned/conversations/25990437322)

[2020-03-09 10:23] tcrammond commented on #1686
I saw something similar when using Pomodoro

[2020-03-09 21:14] TheSoloJake opened #1687 ""Stop Timer Automatically" Feature Not Working"
* **OS version**: macOS 10.15.3
* **Browser version**: Chrome Latest Stable
* **Extension version**: 1.60.5

### 🐛 Describe the bug

When using the "Stop Timer Automatically" feature, the timer will not stop when the browser is closed.

### Expected behaviour

When the browser is closed, the timer should automatically stop.

### Other details or context

N/A

[2020-03-16 18:13] dianetoggl commented on #1687
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/26068135758)

[2020-03-17 10:50] marcinkrzeminski commented on #1378
Same here. Any chance of getting this in the near future?

[2020-03-17 22:36] dianetoggl opened #1689 "ZenDesk no longer picking up ticket title"
#### Relevant integration (if any): ZenDesk

### 🐛 Describe the bug

When a user starts a timer in ZenDesk it now says "undefined" instead of the ticket title

### Expected behaviour

Timer would show the ticket title on the timer description.

### Other details or context

[Intercom link](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/26199181519)
Screenshot included i

[2020-03-18 05:56] smurfman111 opened #1691 "Asana automatic tagging isn't working"
* **OS version**: Windows 10 Pro
* **Browser version**: Chrome 80.0.3987.132
* **Extension version**: 1.60.5

#### Relevant integration (if any):

https://app.asana.com/

### 🐛 Describe the bug

When I start a timer for a task in Asana, the project populates automatically but tags never populate. I have tried it in virtually every different page/view in Asana and it never works. I have created the

[2020-03-18 07:21] lise-toggl opened #1692 "Bot isn't creating releases for all PRs"
### 🐛 Describe the bug

Bot doesn't create a release for some PRs, e.g. https://github.com/toggl/toggl-button/pull/1685 maybe because it's from a fork?

### Expected behaviour

Bot will create a release, e.g. https://github.com/toggl/toggl-button/pull/1690

### Steps to reproduce

### Other details or context

[2020-03-20 07:30] wexman commented on #909
Seriously? A time tracking solution with 12 am/pm only?

[2020-03-23 07:09] nicktoggl commented on #1689
User reports that the wrong ticket title,

[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097915/conversations/26199181519)

[2020-03-23 07:10] nicktoggl commented on #1689
@LulzAugusto

[2020-03-23 17:09] firehudson opened #1693 "Issue with features page: https://toggl.com/features/"
* **OS version**:  Ubuntu 18.04 LTS
* **Browser version**: Chrome 80.0.3987.132
* **Extension version**: NA

### Disclaimer:
Sorry, please help me by moving this issue to repository for the https://toogl.com web app. I couldn't find the appropriate repository for this. This issue is on the **Features page** of toogl website.

### 🐛 Wrong links for **Get Toogl Mobile/Desktop/Button** buttons

Even

[2020-03-24 14:09] zdericnina commented on #1437
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2759100/conversations/26301393618)

[2020-03-24 14:13] zdericnina opened #1694 "Toggl button missing in Intercom"
* **OS version**: macOS 10.15.3
* **Browser version**: Chrome 80.0.3987.132
* **Extension version**: 1.60.6

### 🐛 Describe the bug

[User](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2759100/conversations/26301393618) reported that Toggl button no longer appears in Intercom chat box, I was able to replicate. Not sure when it stopped working but I think it happened fairly recently.

### E

[2020-03-25 13:33] tcrammond commented on #1687
@TheSoloJake Do you have a case reference for this one as well by any chance?

[2020-03-26 06:44] davidwindell opened #1696 "No button showing on ZenDesk Agent Workspace"
* Ubuntu
* Chrome 80
* 1.60.6

https://mydomain.zendesk.com/agent/tickets/17434

### 🐛 Describe the bug

When the new default "Agent Workspace" feature is enabled (which changes the layout of the ticket view page), the Toggl button no longer shows - no doubt because the DOM is different.

![download](https://user-images.githubusercontent.com/1720090/77617602-7fb47b00-6f2c-11ea-9793-59a68dbea211.pn

[2020-03-26 10:40] nidarasheed opened #1697 "Add Toggl Button to Wrike Timesheets visa"
### Describe the new feature

User would like to see button in Wrike timesheets view.

### How does this help you?

"What I find inefficient and hoped toggl could solve, is that I always have to dig into the folders to get the specific task section and click play.

It would be much more useful if the toggl button appeared in the Timesheet section, which is more in line with what happens in the tog

[2020-03-27 13:21] zdericnina commented on #977
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2759100/conversations/26361899442)

[2020-03-31 01:38] dooart opened #1700 "Update the "User Guide" link in both Toggl Button extensions"
Support team combined the two Toggl Button articles into one. The "User Guide" button in the extensions should, ideally, link to that article. This is the button I'm referring to
![](https://user-images.githubusercontent.com/19473351/77588492-40653a80-6eea-11ea-9ca2-7837721695d2.png)

Currently, both extensions link to the Chrome article. Instead, link them to this one
https://support.toggl.com/en

[2020-03-31 01:41] #1700 closed

[2020-04-02 11:53] rylek90 commented on #1686
I spent too much time on this already. Here are few tips for the brave warrior who will decide to continue this (might be me, but I need few days to recover):

I managed to fix case with "stop entry after pomodoro" option. Le patch is [here](https://github.com/toggl/toggl-button/files/4420777/patch.txt)
In theory finding a nice way to pass something else than entry's start time here (to allow prog

[2020-04-03 09:49] nidarasheed commented on #1686
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/26475380577)

[2020-04-03 10:06] nidarasheed opened #1701 "Microsoft ToDo integration does not work since they changed URL"
* **OS version**: MacOS
* **Browser version**: Chrome 80.0.3987.149
* **Extension version**:

#### Relevant integration (if any): Microsoft ToDo

### 🐛 Describe the bug
The button no longer shows up

### Expected behaviour
The button should show

### Steps to reproduce

Steps to reproduce the behaviour:
1. Go to ...
2. ...

### Other details or context
[Slack](https://toggl.slack.com/archives/C9LM

[2020-04-05 06:42] mrRamezanzad opened #1703 "Add ...The most important feature of pomodoro custom rest timer!"
Hi!
Your application is almost perfect BUT how did you decide not to add the rest timer for the pomodoro section and just live it to the user to go rest and come back and every damn time he should either remember to set an alarm or a ticking timer or just come back at proper time,
this need is so obvious that I  wanted to Alert you by issuing a bug.
can't believe that a good product like yours jus

[2020-04-05 10:59] zdericnina opened #1704 "Not able to open Project/tags dropdown in Todoist Task view"
* **OS version**: macOS
* **Browser version**: Chrome 80.0.3987.149
* **Extension version**: Version 1.60.7

#### Relevant integration (if any): ToDoist

### 🐛 Describe the bug

Todoist rolled out it's new centered task view, and Toggl button doesn't let you to select a project or add tags. The field to add Project/Tag is unresponsive.

### Expected behaviour

Clicking on the Add Project/Add tags

[2020-04-06 15:02] kadrihvl commented on #1704
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3724360/conversations/26512576460)

[2020-04-06 15:22] kadrihvl commented on #1704
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3724360/conversations/26517547933)

[2020-04-06 22:01] dooart commented on #1704
the same problem is happening in the Visual Studio (https://dev.azure.com) integration, which leads me to believe it is a more widespread thing

[2020-04-07 09:36] VeljkoTN commented on #1704
Case reference from a user who reached out with the same issue with the Visual Studio [🔗 ](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097020/conversations/26481011430)

[2020-04-10 17:53] pratapan9 commented on #1701
Any idea when this will be available?

[2020-04-14 02:35] TheSoloJake commented on #1687
@tcrammond Honestly I did not receive any kind of a ping on this. I don't personally have a case reference at this time. If I remember correctly, I was able to replicate at the time in my copy of Chrome.

[2020-04-14 05:59] lise-toggl opened #1705 "[Cal] Add a duplicate button"
Add a `Duplicate` button to `CreateTimeEntryDialog`

[2020-04-14 12:34] rylek90 opened #1706 "Add support for Asana Boards layout"
### Describe the changes you'd like

Provide support for Asana boards layout.

#### Additional context

Case: https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/26560925276

[2020-04-14 13:30] #1701 closed

[2020-04-14 14:27] #1706 closed

[2020-04-14 14:28] shantanuraj commented on #1705
@lise-toggl looks like you created this in the wrong repository?

[2020-04-15 00:09] lise-toggl commented on #1705
:see_no_evil:

[2020-04-15 00:09] #1705 closed

[2020-04-15 04:22] FranklinYu commented on #635
@shantanuraj Just to make sure, are you working on the new Swift-based [Safari App Extensions](https://developer.apple.com/documentation/safariservices/safari_app_extensions), or the [legacy Safari Extension](https://developer.apple.com/library/archive/documentation/Tools/Conceptual/SafariExtensionGuide/Introduction/Introduction.html) that are no longer supported by Apple?

[2020-04-15 10:26] rylek90 commented on #1704
I've managed to find the root cause for Todoist. Gonna verify if the same applies to Visual Studio and will submit a PR with fix

[2020-04-15 12:32] rylek90 commented on #1704
Moving dev-azure integration fix to separate issue, cause it quite differs @VeljkoTN @dooart

[2020-04-15 12:38] rylek90 opened #1709 "Not able to open Project/tags dropdown in Dev Azure"
* **OS version**: macOS
* **Browser version**: Chrome 80.0.3987.149
* **Extension version**: Version 1.60.7

#### Relevant integration (if any): Dev Azure

### 🐛 Describe the bug

### Expected behaviour

Clicking on the Add Project/Add tags field should open up the dropdown to select the Project or a Tag

### Steps to reproduce

Steps to reproduce the behaviour:
1. Go to Dev Azure
2. Open board vi

[2020-04-15 16:27] cperezabo commented on #635
Forget about this extension, they haven't been able to add 100 lines of javascript for Safari, but you expect them to create a Swift-based extension?

[2020-04-16 11:20] VeljkoTN opened #1711 "WorkFlowy integration broken"
* **OS version**: not important
* **Browser version**: not important
* **Extension version**: Version 1.60.7

#### Relevant integration (if any):

WorkFlowy - workflowy.com

### 🐛 Describe the bug

The Toggl Button no longer appears on WorkFlowy because they had a pretty major rewrite recently

### Expected behaviour

The Toggl Button should appear

### Other details or context, additional notes:

[2020-04-16 11:20] VeljkoTN commented on #1711
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097020/conversations/26666943211)

[2020-04-16 16:19] ErikOsterud opened #1713 "Toggl button no longer showing on Teamwork"
### Environment details

* Operating system: Windows 10, Google Chrome
* Extension version: 1.60.7

### Expected behavior
Toggl button shows next to the task in Task Lists and within Tasks.

### Actual behavior
Toggl button is no longer showing.

### Steps to reproduce the behavior
Open a Task List or Task in Teamwork.

### Additional details
I'm using Teamwork with a Custom Domain and with the do

[2020-04-17 08:20] nidarasheed opened #1714 "Add integration with Freedcamp"
**Link to service:** https://freedcamp.com/

**Is there a free account option?**: Yes

### Describe the solution you'd like

A  user requested a Freedcamp integration for TB. I've added screenshots below for where I think  the button can go.

![image](https://user-images.githubusercontent.com/49634673/79547882-04b72e00-80ae-11ea-8d2e-372d2ca319b9.png)
![image](https://user-images.githubusercontent

[2020-04-19 21:59] dianetoggl commented on #1687
😬 I still have the issue in 1.60.7

[2020-04-20 12:07] cori commented on #1680
While I'd love to see this, it's a little out-of-date to say there's a free option - there is right now, b but the RoamResearch founders have been pretty public about an eventual (within ~ a few months) switch to subscription-only.

[2020-04-20 23:24] dianetoggl opened #1716 "TeamWork integration is no longer visible"
* **Extension version**: 1.60.7

#### Relevant integration (if any): Teamwork (https://www.teamwork.com/)

### 🐛 Describe the bug

The Toggl Button icon is no longer appearing on the TeamWork page - the page looks different from what is shown in the original Toggl Button screenshots.

### Expected behaviour

Toggl Button should show up on TeamWork page as shown in the screenshots.

[2020-04-20 23:25] dianetoggl commented on #1716
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/conversation/26723111787)

[2020-04-21 06:30] Stvad commented on #1680
Latest information (a few days ago) I've  heard that there would still be a limited free plan

[2020-04-21 10:02] VeljkoTN opened #1717 ""Discard idle time and continue" does not keep the previous entry's tags"
* **OS version**: Windows 10
* **Browser version**: Chrome 81.0.4044.113
* **Extension version**: 1.60.7
NOTE: This is my own setup, but this should be an issue with both OSs and also happens with FF

### 🐛 Describe the bug

If you enable the Pomodoro timer and/or Idle detection and discard idle time (or Pomodoro) with continuing tracking the tag that was applied to the previously running time ent

[2020-04-21 13:14] nidarasheed commented on #1347
TB not showing on Redmine. [Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/23537140611)

[2020-04-22 14:46] smurfman111 commented on #1691
Did this get looked at by anyone? Thanks

[2020-04-22 17:12] BeksOmega commented on #1711
Oh hey sweet! I noticed this too and worked on a fix over the weekend.

To cut to the chase: Putting the button in the bullet menu is no longer going to work. The way they're doing their event capturing means I can't catch the click before the menu closes.

Instead I added a minimal button to the top bar:
![NewUI](https://user-images.githubusercontent.com/25440652/80011956-6c3ff580-8481-11ea-8249-

[2020-04-23 08:36] #1704 closed

[2020-04-25 05:07] jnardiello opened #1719 "Toggl Button and broken Todoist Chrome Extension Integration"
* **OS version**: macOS Catalina 10.15.4
* **Browser version**: Chrome 81.0.4044.122
* **Toggl Extension version**: Toggl Button Version 1.60.7

#### Relevant integration (if any):

* **Todoist Extension version for Chrome**: Todoist Version 9147

### 🐛 Describe the bug

Toggl button is missing from todoist chrome extension as per: https://get.todoist.help/hc/en-us/articles/212102645-Use-Toggl-wit

[2020-04-29 12:01] nidarasheed opened #1721 "Fix TargetProcess integration"
### Describe the changes you'd like

We have the possibility of the integration with Toggl button:
https://dev.targetprocess.com/docs/integration-with-personal-toggl-timer
And now we support changing the view of the entity, by adding additional tools elements (by editing the JSON).
Since the view is changed, the toggl disappears, as seems like it can not be placed on the changed view.
Maybe it is

[2020-04-29 19:07] TheSoloJake opened #1722 "Add integration with BIM Archicad 23"
**Link to service:** https://www.graphisoft.com/

**Is there a free account option?**: N/A

### Describe the solution you'd like

User would like to see the TB appear within the software

[2020-04-29 20:18] CyanoKobalamyne opened #1723 "Todoist.com integration broken"
* **OS version**: Windows 10 Version 2004
* **Browser version**: Firefox 75.0
* **Extension version**: 1.60.7

#### Relevant integration (if any):

Todoist.com

### 🐛 Describe the bug

The Toggl button doesn't appear next to Todoist tasks since Todoist updated their UI yesterday (04/28/2020).

### Expected behaviour

There should be Toggl buttons next to each task.

### Steps to reproduce

Steps t

[2020-05-01 09:54] nidarasheed commented on #1686
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/26837522623)

[2020-05-01 16:11] TheSoloJake commented on #1716
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/26891979634)

[2020-05-01 16:11] TheSoloJake commented on #1716
Also appears to be reported in #1713

[2020-05-01 16:15] TheSoloJake opened #1724 "Button Not Appearing in Salesforce Lightening"
* **Browser version**: Chrome Latest Stable
* **Extension version**: 1.60.9

#### Relevant integration (if any):

Salesforce (specifically Lightening UI)

### 🐛 Describe the bug

Button no longer appears within UI

### Other details or context

[case reference
](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/26891979634)
Also may be related to already-closed #1041

[2020-05-01 17:27] allisonletts commented on #1724
Happy to clarify or test if needed (this was my case)

[2020-05-03 21:47] dianetoggl commented on #1687
Hey just following up on this one @tcrammond  - I tested in 1.60.9 and the issue is still there 😊

[2020-05-04 11:35] #1430 closed

[2020-05-06 12:18] VeljkoTN commented on #1709
Another user reached out, [Intercom reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/26822808723)

[2020-05-07 16:38] TheSoloJake commented on #1724
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/26924026751)

[2020-05-07 18:13] allisonletts commented on #1724
Immediately after clearing my cache, I was able to see the toggl button in Lightning--but when I went back later it was no longer available...

[2020-05-11 08:25] francesco-vision commented on #597
Yes, break tracking is part of the Pomodoro technique, so Toggl button is not fully implementing the pomodoro technique yet, It would be necessary to do it according to me. We are in 2020 and nothing has changed, not very promising.

[2020-05-14 11:10] VeljkoTN commented on #1724
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097020/conversations/26988726595)

[2020-05-15 09:27] VeljkoTN commented on #1723
@CyanoKobalamyne can you try again? I just tried reproducing the issue and the Toggl Button does show up when I hover over tasks. The latest version of the Toggl Button is version Version 1.60.9, please make sure that's the one you are using.

[2020-05-15 09:49] VeljkoTN commented on #1717
I need to correct this a bit after testing again. The issue is only related to Idle time and only if you select the "discard idle time and continue" option. This starts a new identical time entry only without the tag and it should bring the tag over as well.

[2020-05-15 10:10] tcrammond opened #1725 "Evernote: integration reported as not working"
Chrome 80.0.3987.163 (Official Build) (64-bit).

### 🐛 Describe the bug

Evernote reported as not working in a recent Chrome store review (can't link directly to it)

### Expected behaviour

Evernote integration is working

### Steps to reproduce

Haven't tried to reproduce yet, just passing through.

[2020-05-15 14:32] VeljkoTN opened #1726 "Toggl Button not visible in a section of Todoist"
* **OS version**: Windows 10
* **Browser version**: Chrome 81.0.4044.138
* **Extension version**: 1.60.9

#### Relevant integration (if any):

https://todoist.com/

### 🐛 Describe the bug

The Button works as expected everywhere except the "Upcoming" view in Todoist. Hovering over tasks will not show the TB icon in that view:

![image](https://user-images.githubusercontent.com/36152180/82061751-66

[2020-05-15 14:43] VeljkoTN opened #1727 "Toggl Button Extension Color Flashing Issue"
* **OS version**: Windows 10
* **Browser version**: Chrome 81.0.4044.138
* **Extension version**: 1.60.9

#### Relevant integration (if any):

Tested on Todoist and Trello, appears to be a universal issue

### 🐛 Describe the bug

When you click on the Toggl button within an app to start a timer, click Done to confirm the details and then when you click on the red button icon within an app to stop

[2020-05-15 15:19] VeljkoTN commented on #1709
[intercom reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/27090210847)

[2020-05-15 17:40] TheSoloJake commented on #1716
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/27091188059)

[2020-05-15 20:03] CyanoKobalamyne commented on #1723
I am on version 1.60.9, and I still can't see the button.

Screenshot:
![image](https://user-images.githubusercontent.com/4078712/82091528-83ab8080-96c5-11ea-8ec0-951df82d2b42.png)

[2020-05-18 07:53] kadrihvl opened #1728 "Button not appearing in some G-suite apps"
* **OS version**: macOS Catalina 10.15.4
* **Browser version**: Chrome 81.0.4044.138
* **Extension version**: 1.60.9

#### Relevant integration (if any):

Google Inbox - inbox.google.com
Google Mail - mail.google.com
Google Docs - docs.google.com
Possibly also Google Classroom - classroom.google.com
### 🐛 Describe the bug

After ticking mentioned apps from TB Integrations tab, button does not appe

[2020-05-18 08:42] kadrihvl commented on #1728
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3724360/conversations/27101660388)

[2020-05-18 11:12] nidarasheed opened #1729 "Button not showing in Slack webapp"
* **OS version**: 10.15.4
* **Browser version**: Chrome 81
* **Extension version**: 1.60.9

#### Relevant integration (if any):

Slack

### 🐛 Describe the bug

Button not showing in Slack after UI updates in Slack.
### Expected behaviour
Button should show.

### Other details or context

[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/27112710611)

[2020-05-19 09:06] nidarasheed opened #1730 "TB is not matching projects when used in Asana"
* **OS version**: 10.15.4
* **Browser version**: chrome Version 81.0.4044.129 (Official Build) (64-bit)
* **Extension version**: 1.60.9

#### Relevant integration (if any):
Asana

### 🐛 Describe the bug

When using TB in Asana, the project is not being picked up even though matching project exists in Toggl.
### Expected behaviour

Project should be automatically chosen.

### Steps to reproduce
Ste

[2020-05-19 11:43] tcrammond commented on #1724
Hey @allisonletts, could you let us know which pages in Salesforce Lightning you see the problem (if not all of them)? Or what steps you specifically take to see the button appear briefly and then vanish?

Just checking that your Salesforce URL looks something like this as well? `https://xyz.lightning.force.com/lightning`

Today I'm not having any problems using the Toggl buttons in Tasks or Accou

[2020-05-19 11:50] tcrammond commented on #1717
@VeljkoTN it seems to work as expected for me so far 🤔 I'll keep trying, perhaps there's another dependent setting

[2020-05-19 11:54] tcrammond commented on #1717
Got it! Looks like it depends on `automatic tagging` setting - it should not IMO. Will look for a fix.

[2020-05-19 21:23] dianetoggl opened #1733 "GSuite admin unable to see Google Calendar button"
* **OS version**: 10.15.3
* **Browser version**: 81.0.4044.138
* **Extension version**: 1.60.9

#### Relevant integration (if any): Google Calendar (calendar.google.com)

### 🐛 Describe the bug

User can see all other integrations they have ticked, but they are unable to see the Google Calendar one. Other members of their team can see it (on Windows PC), but not them (they are also the GSuite admi

[2020-05-19 21:59] dianetoggl commented on #1730
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/27146461970)

[2020-05-19 22:00] dianetoggl commented on #1730
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/27145678134)

[2020-05-19 22:40] dianetoggl commented on #1724
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/27146386152)

[2020-05-19 23:43] edtamayo commented on #1730
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3824737/conversations/27140069720)

[2020-05-20 03:29] ckrf commented on #1648
I'm a heavy Toggl and Notion user who would love to see this.

[2020-05-20 14:32] allisonletts commented on #1724
@tcrammond Fascinating. I have the problem on Contacts, Opportunities, and a bunch of custom objects, but not Accounts or Tasks (once I went to those pages specifically). To add to the weirdness, in a Salesforce sandbox, I can see the button on Contact as well.

Something that I just noticed is that going to a record detail page, loading it all the way and having the button not appear--then leavin

[2020-05-20 15:00] tcrammond commented on #1724
Thanks so much for the details. We'll be looking into ironing out the problems.

[2020-05-20 16:58] allisonletts commented on #1716
I'm having this problem, and happy to support if that's helpful.

[2020-05-20 17:42] edtamayo commented on #1730
[Case Reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3824737/conversations/27140894283)

[2020-05-20 17:50] dianetoggl commented on #1730
Info from a user:

[2020-05-21 10:27] VeljkoTN opened #1735 "Automatically stop timer when browser is closed not working"
* **OS version**: Windows (can be any)
* **Browser version**: Latest version of Chrome and Firefox tested
* **Extension version**: 1.60.9

### 🐛 Describe the bug

The timer will not automatically stop when the browser is closed as it should when this feature is enabled.

### Expected behaviour

With the "stop the timer automatically when the browser is closed" feature is enabled the running TE sho

[2020-05-21 15:55] ApocalypticFish opened #1737 "Tasks dropdown stops showing in button during and after searching for project"
MacOS 10.15.4
81.0.4044.138
Version 1.60.9

#### Relevant integration (Asana):

https://app.asana.com

### 🐛 Describe the bug
When searching for projects in the dropdown in Asana, the projects stop showing tasks. Then afterwards if you clear the search field. Tasks still aren't showing for all projects in the Projects window.

### Expected behaviour

You should be able to see the tasks in the drop

[2020-05-21 19:46] dianetoggl commented on #1730
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/27178712455)

[2020-05-23 19:06] MarkoShiva opened #1739 "Add toggle button for pomodoro to the iframe."
### Describe the new feature
I would like to have ability to set pomodoro length if needed from the iframe and turn on and off pomodoro sound.

### How does this help you?

Personally I like sometime to listen to the ticking clock when working especially if environment is a bit but not too noisy. It help me concentrate. However when I switch to listening music or silence I need additional step of

[2020-05-25 08:31] #1717 closed

[2020-05-25 09:07] #1730 closed

[2020-05-26 10:38] jrojer commented on #1703
this issue is a duplicate of [this one](https://github.com/toggl/toggl-button/issues/597)

[2020-05-26 22:48] #1709 closed

[2020-05-27 08:01] #1724 closed

[2020-05-27 10:15] zdericnina commented on #1726
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2759100/conversations/27248231210)

[2020-05-28 00:21] #1725 closed

[2020-05-28 02:50] MilesBlueshift commented on #1442
@nicktoggl the issue is fixed thanks to @lise-toggl
PR: https://github.com/toggl/toggl-button/pull/1740

[2020-05-28 09:01] tcrammond commented on #970
Would also be relevant to integrations like #1732.

Problems there would be to solve:
* Configuring an integration to say it needs iframe support
* Injecting or applying CSS to the button (is it even possible)?
* Testing that all functionality around the injected button works

[2020-05-28 09:01] tcrammond commented on #970
fyi @lise-toggl let's track iframe things here if we need to

[2020-06-01 08:33] VeljkoTN commented on #1724
@lise-toggl one user says that the button is back but it appears at the foot of the page in Salesforce rather than against the task/contact etc as it used to do

[2020-06-01 09:24] tcrammond commented on #1724
@VeljkoTN Sorry, this was an intentional change but we didn't reach you before it arrived on the browser stores.

The button is located in the "Utility bar" at the bottom of the page now in Salesforce Lightning. We had difficulty restoring the original behaviour. Feedback is appreciated, but if there's much of it then let's collect it in a new issue.

![Screenshot 2020-06-01 at 10 22 16](https://u

[2020-06-01 11:05] VeljkoTN opened #1741 "Add automatic tagging in the RTM app integration"
### Describe the new feature

Add support for automatic tagging with the Remember The Milk integration

### How does this help?

It helps our users by adding tags from that app automatically to a timer started via the Toggl Button extension.

[2020-06-02 11:32] VeljkoTN opened #1742 "Support the "Workload" view in Asana for paid accounts"
### Describe the new feature

Add support for the "Workload" view in Asana for paid accounts (https://asana.com/product/workload)

### How does this help you?

Helping a user who reached out wondering why it's not there. It should benefit other users as well.

[2020-06-03 00:50] #1442 closed

[2020-06-04 10:51] kadrihvl opened #1744 "Notion not recognising a running timer"
* **OS version**: Windows 10
* **Browser version**: chrome 83.0.4103.97
* **Extension version**: 1.60.12

#### Relevant integration (if any): Notion https://www.notion.so/

### 🐛 Describe the bug

Toggl Button is visible on a Notion page, next to header. You can click TB to start an entry, but when you move away from that page, TB appears greyed out on the next page. It is not recognised that you

[2020-06-04 12:27] VeljkoTN commented on #1725
Just got another report for this, I created an Evernote account and can confirm that the button is not there 🤷 @tcrammond @lise-toggl reopen?

[2020-06-04 12:29] tcrammond commented on #1725
@VeljkoTN I think `1.60.13` is not available in the stores yet. stand by 🤞

[2020-06-04 12:31] VeljkoTN commented on #1725
also a new Evernote layout
![image](https://user-images.githubusercontent.com/36152180/83756962-1493cd00-a670-11ea-8c64-7ee0247be5e4.png)

[2020-06-04 12:31] VeljkoTN commented on #1725
👍

[2020-06-04 16:55] edtamayo commented on #1737
[Case Reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3824737/conversations/27285412709)

In this case, the Task dropdown does show up when searching for projects but it does not show up when searching for clients.

[2020-06-08 11:05] nidarasheed opened #1746 "Truncate pomodoro notification on Linux"
* **OS version**: Linux Mint 17.3 + Xfce 4.12 edition
* **Browser version**: Google Chrome 83.0.4103.97
* **Extension version**: 1.60.13

### 🐛 Describe the bug
Pomodoro notification is not truncated.
![image](https://user-images.githubusercontent.com/49634673/84023592-cd744780-a9a1-11ea-8151-d494a329b82b.png)

### Expected behaviour

Notification should be truncated.

### Other details or context

[2020-06-09 06:05] nidarasheed commented on #1726
![image](https://user-images.githubusercontent.com/49634673/84111836-1fb87580-aa41-11ea-85ad-8e8f09b4ffb0.png)
The Today View is also missing TB. [Case](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/27424356591)

[2020-06-09 11:02] VeljkoTN opened #1747 "Todoist integration no longer working"
* **OS version**: Windows 10 (not relevant I'd say)
* **Browser version**: Chrome 83.0.4103.97
* **Extension version**: 1.60.13

#### Relevant integration (if any):

https://todoist.com/app

### 🐛 Describe the bug

The button is no longer appearing in Todoist. They made recent changes, you can find details **[here 🔗.](https://get.todoist.help/hc/en-us/articles/115005442125-Web-application)**

If w

[2020-06-09 11:13] VeljkoTN commented on #1747
User ID: 5675119
I am also able to reproduce, I can's see it in the task list hovering over tasks, only when I open a specific task view

It's not here:

![image](https://user-images.githubusercontent.com/36152180/84141092-e983f180-aa52-11ea-813b-c50b69a5db93.png)

It is here:

![image](https://user-images.githubusercontent.com/36152180/84141127-f4d71d00-aa52-11ea-8518-1e51a1865b07.png)

[2020-06-09 13:51] #1696 closed

[2020-06-09 17:23] TheSoloJake commented on #1747
[user report](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/27431170302)

[2020-06-09 18:47] #1726 closed

[2020-06-09 18:47] #1747 closed

[2020-06-10 06:55] mclois opened #1750 "Todoist.com integration has stopped working"
The Toggl button doesn't appear next to Todoist tasks since Todoist's [version 1006](https://get.todoist.help/hc/en-us/articles/115005442125) (updated 2020/06/08)

### Environment details

* Operation system: Windows 10
* Extension version: 1.60.13

### Expected behavior
There should be a Toggl button next to each task.

### Actual behavior
No Toggle button shown

### Steps to reproduce the behavi

[2020-06-10 07:05] shantanuraj commented on #1750
Hi @mclois we recently merged and released a fix for the Todoist integration
(https://github.com/toggl/toggl-button/pull/1748)

It's deployed in version 1.62.1, which we rolled out earlier today.
Could you check it after you receive the update and let us know if the problem still persists?

[2020-06-10 07:09] ricotheque commented on #1750
Hey @mclois a fix was merged in #1748.

Could you please close your browser and restart? This should grab the updated version of the extension and allow you to use it on Todoist again. :)

[2020-06-10 07:10] #1750 closed

[2020-06-10 07:10] mclois commented on #1750
I have just update the extension and the Toggl button is back. Thanks!

[2020-06-10 11:14] rylek90 commented on #1686
With an "stop time entry after pomodoro ends" option disabled it still takes `start` TE value to calculate radius of the progress border. Possible fix would be to push intermediate end of pomodoro value here and there

[2020-06-11 19:14] dianetoggl opened #1751 "User has two timer buttons in Zendesk"
Windows 10
Chrome 83.0.4103.97
1.62.1

#### Relevant integration (if any): Zendesk

### 🐛 Describe the bug

User has two timer buttons appearing in Zendesk. One seems to been out of alignemnet (as per screenshot in Intercom)

### Expected behaviour

User would only have timer button on the page

### Other details or context

[Intercom link](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/conv

[2020-06-12 12:30] VeljkoTN opened #1752 "Todoist button duplicating issue"
* **OS version**: Windows 10
* **Browser version**: 83.0.4103.97 Chrome
* **Extension version**: 1.62.1

#### Relevant integration (if any):

https://todoist.com/app/

### 🐛 Describe the bug

In a list of tasks, if you click on the "calendar" option to add a due date, each time you click the button will duplicate, also each time you click away:

![Toggl Button duplicating clickin calendar](https:/

[2020-06-15 07:48] glensc opened #1753 "Custom Integration asks for url but expects hostname"
The block talks about custom URLs:

![image](https://user-images.githubusercontent.com/199095/84631035-6e5c8880-aef5-11ea-8341-f5fc1c2c2693.png)

So I input URL for the custom integration:

![image](https://user-images.githubusercontent.com/199095/84631126-8b915700-aef5-11ea-813c-89466623b9f9.png)

but it saves as "https", because it does not want URL, but hostname:

![image](https://user-images.g

[2020-06-15 10:30] pwalen commented on #1752
The same issue for:
OS version: macOS Catalina, OSX 10.15.5
Browser version: 83.0.4103.97 Chrome
Extension version: 1.62.1
![CleanShot 2020-06-15 at 12 22 58](https://user-images.githubusercontent.com/41115724/84647487-cc906800-af03-11ea-82a5-54dfb684388b.gif)

[2020-06-15 16:43] haydave opened #1754 "I would like be able to turn off time tracking when internet is gone"
### Describe the new feature

I would like be able to turn off time tracking when internet is gone.
It will be nice to have such kind of option in settings. When this setting is enabled, extension should detect when I go offline.

### How does this help you?

My job fully depends on internet connection. When it is gone time tracking continues and it is not possible to stop it. I should catch the t

[2020-06-18 14:18] zdericnina opened #1757 "TB is not matching projects when used in Asana [My Tasks view]"
* **OS version**: Windows 10
* **Browser version**: 83.0.4103.106
* **Extension version**: 1.62.1.

#### Relevant integration (if any):

Asana [My Tasks view]

### 🐛 Describe the bug

When using TB in Asana on My Tasks view, the project is not being picked up even though matching project exists in Toggl. However, the project is matched if using the Toggl button from Task details

### Expected beha

[2020-06-18 21:50] dianetoggl opened #1758 "Todoist button is not right aligned and is covering long task names"
Windows 10
Chrome 83.0.4103.106
1.62.1

#### Relevant integration (if any): Todoist

### 🐛 Describe the bug

Toggl Button is not right aligned in Todoist and is sitting on top of long task names.

### Expected behaviour

Toggl button would be right aligned and would not sit on top of the task name

### Other details or context

Screenshot from user:
![image](https://user-images.githubusercontent.c

[2020-06-19 09:51] VeljkoTN opened #1759 "Running Timer view (pop-up) closing if you click away from a downsized browser"
* **OS version**: any
* **Browser version**: FF 77.0.1 (64-bit)
* **Extension version**: 1.62.1

### 🐛 Describe the bug

I've got a user who likes to use the TB extension in an unorthodox way. They downsize their browser or snap it to the side of the screen and want to have the TB running timer pop-up open while they work on the other part of the screen. This works with Chrome, but not with Firefo

[2020-06-19 17:12] #1711 closed

[2020-06-22 07:05] #1752 closed

[2020-06-22 07:07] lise-toggl commented on #1723
@CyanoKobalamyne can you let us know if the button is working for you again on the latest version (1.62.1)? Thanks :)

[2020-06-22 08:34] pwalen commented on #1752
Thank you. I installed the latest version.
The issue doesn't occur anymore 👏 👏 👏

OS version: macOS Catalina, OSX 10.15.5
Browser version: 83.0.4103.106 Chrome
Extension version: 1.62.3

[2020-06-22 10:46] tcrammond commented on #1735
This was reported as working again, and I couldn't reproduce

It's possible it might be flakey though. shout if it comes up again 🙌

[2020-06-22 10:46] #1735 closed

[2020-06-22 13:40] tcrammond commented on #1691
Thanks for posting this issue @smurfman111 and sorry that there wasn't a response before now.

Good news - automatic tagging will be working in Asana very soon 😄 The issue will be updated when the extension update is released.

[2020-06-22 14:12] tcrammond commented on #1728
I think the integrations seem to be fine, but the integration list has some issues. It'll show all Google integrations as enabled even if you only enabled one of them - and the others will not work. Will look into it

[2020-06-22 16:59] nigeriasimone opened #1764 "bug- can't integrate asana and toggl in settings"
Please follow this guide when creating a new issue. This speeds up the process of replicating the issue and finding a solution.

### Environment details

* Operation system: Windows10 and ipad OS
* Extension version: unsure

### Expected behavior - when I click enable, I should be directed to Asana and allowed to complete the process

### Actual behavior - I'm automatically logged out and integrat

[2020-06-23 05:46] #1737 closed

[2020-06-23 06:43] nidarasheed commented on #1721
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/106481300006963)

[2020-06-23 08:14] lise-toggl commented on #1728
I tested the integrations as well and Classroom isn't working, the selector we're using is out of date. @kadrihvl have there been any requests Classroom? I don't know where the button should be so if we had any user feedback that would be helpful. Or maybe we should drop it if no one is using it?

We also need to remove Inbox since that's no longer around.

[2020-06-23 08:17] #1746 closed

[2020-06-23 08:40] nidarasheed commented on #1764
Hi there,
​
Thanks for getting in touch :)

Because of the way the integration setup redirects, you need to be logged in to Toggl with your username/password to set up the Asana integration.

If you first need to setup a password for your Toggl account, please use this tool: https://toggl.com/forgot-password/

Once the integration is setup, you can go back to using Google login.

Do let me know if

[2020-06-23 08:43] lise-toggl commented on #1733
@dianetoggl We haven't found any issues with the calendar, but Tyler found one with the integrations list where some integrations appear to be ticked, but are not actually ticked (see #1763).

Can you ask the user to untick the calendar integration and retick it (a popup asking for permission should show up here) then check again?

[2020-06-23 08:48] lise-toggl commented on #1719
Hi @jnardiello, are you using this Todoist for Chrome extension https://chrome.google.com/webstore/detail/todoist-for-chrome/jldhpllghnbhlbpcmnajkpdmadaolakh?

Due to the way extensions work, we can only insert the Toggl Button into a webpage, so unfortunately it's not compatible with the Todoist extension.

[2020-06-23 08:54] lise-toggl commented on #1703
Thanks for the suggestion! We do have plans to add this as part of #1569 so I'm closing this as a duplicate; if you have any further suggestions on the break timer please add it to either #1569 or #597 :)

[2020-06-23 08:54] #1703 closed

[2020-06-23 09:04] #1554 closed

[2020-06-23 10:33] tcrammond commented on #1687
Hmm, recently closed a duplicate of this here https://github.com/toggl/toggl-button/issues/1735#issuecomment-647438575

I didn't realise there were more than the single report. let's look into improving this if possible - I think the problem is that the browser sometimes closes down before the extension can finish making requests. Hopefully we can do something about it.

[2020-06-23 16:59] jnardiello commented on #1719
Yes, I got it - that's not ideal but I guess there's nothing we could do. Thanks for the feedback

[2020-06-23 16:59] #1719 closed

[2020-06-23 23:06] dianetoggl commented on #1733
Thanks @lise-toggl - asking now :D

[2020-06-23 23:13] dianetoggl opened #1768 "Time entry stopping automicatically and rounding end time up to match pomodoro minutes"
Windows 10
Chrome 83.0.4103.106
1.62.1

### 🐛 Describe the bug
User has pomodoro set to 60 minutes. Sometimes when they start a time entry (for example at 5.30pm), they will check again at 5.45pm and the entry will have automatically stopped and the end time will be 6.30pm to match the 60 minute pomodoro timer.

### Expected behaviour

Timer wouldn't automatically stop and if it did it wouldn't ch

[2020-06-23 23:21] dianetoggl commented on #1768
User uses Toggl Button maily, Mobile app and VERY OCCASIONALLY the webapp

[2020-06-24 00:31] #1729 closed

[2020-06-24 01:59] #1758 closed

[2020-06-24 02:48] CyanoKobalamyne commented on #1723
Yes, now I can see it in both the "Today" and "Upcoming" views. Although now the timer buttons are always shown for all tasks, instead of becoming visible with the rest of the task controls upon hovering over a task. But that's more of an aesthetic problem than a functional one.

[2020-06-24 03:43] lise-toggl commented on #1723
@CyanoKobalamyne thanks for the update! We will have another version out soon which will fix the visibility issue :)

If you run into anything else please let us know here here or through our support team support@toggl.com.

[2020-06-24 03:43] #1723 closed

[2020-06-25 09:55] #1728 closed

[2020-06-25 09:57] #1757 closed

[2020-06-25 10:15] #1691 closed

[2020-06-25 10:15] #1647 closed

[2020-06-25 10:30] tcrammond commented on #1691
This feature is now available in the latest version 1.63.0 🚀

Please note that some pages in Asana don't show all of the tags associated with a task, or in some cases any tags at all, unless you click on the task to open the details. In those cases, we can't automatically add tags.

[2020-06-25 14:31] nunofmn commented on #1733
Hopefully should be fixed with release v1.62.8 🤞
https://github.com/toggl/toggl-button/releases/tag/1.62.8

[2020-06-25 17:25] dianetoggl commented on #1733
Fixed 😀

[2020-06-26 01:06] jrickett commented on #635
Does Apple's [new tool](https://developer.apple.com/documentation/safariservices/safari_web_extensions/converting_a_web_extension_for_safari) to convert existing extensions to a Safari web extension help at all?

After running the tool I got this message:

current version of Safari. If these are critical to your extension, you
should review your code to see if you need to make changes to support S

[2020-06-26 09:06] tcrammond commented on #635
Hi all, we're excited about Safari 14 and would love to support Toggl Button there 👀

I can't promise a timeline, but it's on our radar and we'll post any updates in this issue.

[2020-06-26 09:16] tcrammond commented on #1733
🎉

Nice, let's consider it solved by https://github.com/toggl/toggl-button/pull/1763 then, until the time something changes

[2020-06-26 09:16] #1733 closed

[2020-06-30 15:45] shantanuraj opened #1771 "Add system colors option to switch themes"
### Describe the new feature

- Continutation of #1575
- Make the color choice option a tri-state value`'system' | 'dark' | 'light'`
- Add radiobox in settings page to switch between these

### How does this help you?

- I can change the theme in button using my system's controls

### If we couldn't add this feature, is there a compromise you can think of?

- 🤷

[2020-07-01 09:58] #1575 closed

[2020-07-01 10:45] LubosRemplik commented on #1009
It seems this is implemented now? Can see the start now button with the time tracking section at GL

[2020-07-02 06:57] #1009 closed

[2020-07-03 14:41] tcrammond commented on #1569
Added much to the branch, should in fact be feature complete (needs much more testing / playing around with though) 🎉 but will need to pass on the torch now 🤝

[2020-07-05 12:06] jamespfarrell opened #1772 "Add ability to add a reminder when pomodoro runs out."
### Describe the new feature

I would like to be able to add reminders to be notified to me when the pomodoro runs out.

### How does this help you?

I remember to hang up the washing but don't want to be distracted, so I write a quick reminder, so that when the pomodoro runs out, I am reminded to do it then.

### If we couldn't add this feature, is there a compromise you can think of?

I use a pa

[2020-07-07 17:25] davetapley commented on #284
I really just need a browser extension to do this, does anyone know of one?

[2020-07-07 18:17] TheSoloJake commented on #1716
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/106481300025831)

[2020-07-08 07:30] nidarasheed opened #1774 "Button not showing in webapp Todoist"
* **OS version**:
* **Browser version**:
* **Extension version**:

#### Relevant integration (if any):

Todoist
### 🐛 Describe the bug

After a recent update, the button isn't showing in Todoist. It's there, we can click on it, but it won't show.

![image](https://user-images.githubusercontent.com/49634673/86890265-7aafbc00-c116-11ea-8ec8-037bfe2e94a6.png)

![image](https://user-images.githubuserc

[2020-07-08 08:45] nidarasheed commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/106481300026033)

[2020-07-08 10:36] nidarasheed commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2144650/conversations/106481300026080)

[2020-07-08 10:38] nidarasheed opened #1775 "Switching on Asana integration doesn't "stick""
* **OS version**: MacOS 10.15.4
* **Browser version**: Chrome Version 83.0.4103.116 (Official Build) (64-bit)
* **Extension version**: 1.63.0

#### Relevant integration (if any):

Asana

### 🐛 Describe the bug

Choosing Asana as integration does not stick. When you refresh the page, it is unselected again.

### Expected behaviour
Integration selection should stick.

### Steps to reproduce
1. Open

[2020-07-08 10:47] kornelijepetak commented on #1775
This in fact happens with all of the following:

* asana.com
* breeze.pm
* brokerengine.com.au
* clubhouse.io
* codeable.io
* dom-integration
* khanacademy.org
* gqueues.com
* heflo.com
* helpscout.net
* huskymarketingplanner.com
* liquidplanner.com
* meistertask.com
* nozbe.com
* osticket.com
* sourcelair.com
* teamleader.eu
* vivifyscrum.com
* zenhub.com

[2020-07-08 17:17] edtamayo commented on #1774
[Case Reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3824737/conversations/106481300026172)

[2020-07-09 01:30] sKawashima commented on #1774
console err

[2020-07-09 07:35] nidarasheed commented on #1774
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300026347)

[2020-07-09 07:36] nidarasheed commented on #1774
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/27427018499)

[2020-07-09 07:46] langri-sha commented on #1774
I'm not sure if we'll have a lot of luck adding HTML CSP tags to allow data URIs for `img-src`. Maybe we should try adding SVG assets in directly as a workaround.

[2020-07-09 08:24] nidarasheed commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300026358)

[2020-07-09 11:58] kornelijepetak commented on #1744
Hey, @kadrihvl.

The behavior is indeed intended.
As per the [Toggl Button style guide](https://github.com/toggl/toggl-button/blob/master/.github/CONTRIBUTING.md#toggl-button-style-guide), the button should be `red` only when the timer is active.

In this particular case, if you start a timer, the TE description will be set to the name of the page. The red button will only be visible on the same p

[2020-07-09 12:15] kornelijepetak commented on #1744
Closing as `works-as-intended`.

[2020-07-09 12:15] #1744 closed

[2020-07-09 20:53] TheSoloJake commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300026395)

[2020-07-10 04:36] nidarasheed commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/106481300026613)

[2020-07-10 06:32] nidarasheed opened #1776 "Cannot click on any tab besides General and help tabs in TB on Firefox"
* **OS version**: MacOS 10.15.4
* **Browser version**: Firefox 78
* **Extension version**: 1.64.0

#### Relevant integration (if any):

### 🐛 Describe the bug

When opening TB settings, I  cannot open any other tab besides General (which is open by default) and the help tabs at the bottom.

### Expected behaviour

I should be able to click on any tab.
### Steps to reproduce
[Video here](https://to

[2020-07-10 07:29] #1776 closed

[2020-07-10 14:09] Phenome opened #1778 "[TIU] Implement Timer Main UI"
Implement the new main UI for the input form.

[2020-07-10 14:31] Phenome opened #1779 "[TIU] Implement changes to description field"

[2020-07-10 14:46] Phenome opened #1780 "[TIU] Implement new project picker"

[2020-07-10 14:47] Phenome opened #1781 "[TIU] Implement new tags picker"

[2020-07-10 14:50] Phenome opened #1782 "[TIU] Implement new duration dropdown"

[2020-07-10 21:34] edtamayo commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3824737/conversations/106481300026882)

[2020-07-10 22:01] edtamayo commented on #1774
[Case Reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300026892)

[2020-07-13 00:41] dianetoggl commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300027151)

[2020-07-13 06:14] nidarasheed opened #1783 "TB not showing in Nozbe"
* **OS version**: Mac OS 10.15.4
* **Browser version**: Firefox.
* **Extension version**: 1.64.1

#### Relevant integration (if any):

Nozbe
### 🐛 Describe the bug

The TB button is not showing in Nozbe.
![image](https://user-images.githubusercontent.com/49634673/87276454-cf2daf80-c4f9-11ea-942c-346d91097af1.png)

The integration is enabled.
### Expected behaviour

![image](https://user-images.git

[2020-07-13 06:18] nidarasheed commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/106481300027407)

[2020-07-13 06:54] nidarasheed commented on #1774
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/106481300027441)

[2020-07-13 08:45] nidarasheed opened #1784 "Toggl Plan is missing from integrations page but the integration is on by default"
* **OS version**: 10.15.4
* **Browser version**: 83, Chrome
* **Extension version**: 1.64.1

#### Relevant integration (if any):
Toggl Plan
### 🐛 Describe the bug

The integration is missing from integrations list, but it's on by default.

### Expected behaviour

User should be able to enable/disable it, even if we decide to have it on by default.
### Steps to reproduce

Steps to reproduce the beh

[2020-07-13 14:00] leafi opened #1785 "Issue logging in via website"
* **OS version**: Mac
* **Browser version**: Chrome/Firefox
* **Extension version**: Latest

### 🐛 Describe the bug

A member of the support team was having issues logging in to the Toggl Button extension. Once it works it seems to work, but when it doesn't work it keeps not working.

They experienced this last Friday in Firefox, and today in Chrome.

I've been messing with the code in this area i

[2020-07-13 18:47] dianetoggl commented on #1774
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300029223)

[2020-07-14 04:10] nicktoggl commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097915/conversations/106481300029618)

[2020-07-14 16:31] dpsxp commented on #1774
I guess that for safety, we'll have to transform all the images into `svgs` 🤔

[2020-07-15 05:11] nicktoggl commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097915/conversations/106481300029954)

[2020-07-15 05:34] nidarasheed commented on #1774
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300029996)

[2020-07-15 11:02] nidarasheed commented on #1774
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300030109)

[2020-07-15 14:33] rylek90 commented on #1785
Is it still reliable @leafi?

[2020-07-15 17:53] dianetoggl commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300030203)

[2020-07-15 23:30] zberkom commented on #1694
Experiencing the same issue.

[2020-07-16 06:20] nidarasheed commented on #1774
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300030331)

[2020-07-16 09:52] pwalen opened #1790 "The Toggl Button doesn't display on the Todoist page."
* **macOS Catalina 10.15.5**:
* **Chrome  84.0.4147.89**:
* **Toggl Button 1.64.1**:

Relevant integration (if any):
[https://todoist.com/app/](https://todoist.com/app/)

### 🐛 Describe the bug
The Toggl Button doesn't display on the Todoist page.

### Expected behavior
When hovering over a task, the Toggl Button appears, next to the Edit icon 🖊️

### Steps to reproduce
1. Go to extension option a

[2020-07-16 22:50] dianetoggl commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300030582)

[2020-07-17 04:16] nicktoggl commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300030622)

[2020-07-17 05:42] nicktoggl commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097915/conversations/106481300030632)

[2020-07-17 07:24] rylek90 commented on #1790
Hi @pwalen thank you for your request 🙇

Although we currently have [an existing issue](https://github.com/toggl/toggl-button/issues/1774) for this and [ongoing PR](https://github.com/toggl/toggl-button/pull/1788) with fix for it. I'm going to close it as a duplicate then.

[2020-07-17 07:24] #1790 closed

[2020-07-17 08:36] kornelijepetak commented on #1713
Closing as a duplicate of #1716

[2020-07-17 08:36] #1713 closed

[2020-07-17 09:05] nidarasheed commented on #1785
Please let me know if you guys need me to try anything else 🙈

[2020-07-17 11:04] nidarasheed commented on #1694
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/106481300030692)

[2020-07-18 06:26] nidarasheed commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/106481300030861)

[2020-07-18 19:27] fredcallaway commented on #1648
Another vote for this feature. This would dramatically improve usability!

[2020-07-20 09:16] leafi commented on #1785
Well, it's stopped happening to Nida - a successful login worked - and I was still unable to reproduce it, so I'm assuming whatever bad state happened, it's gone for now...

One for another day.

[2020-07-20 09:16] #1785 closed

[2020-07-20 18:11] dianetoggl commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300033421)

[2020-07-20 20:39] TheSoloJake commented on #1774
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300033584)

[2020-07-21 10:29] #1774 closed

[2020-07-21 13:07] #1716 closed

[2020-07-22 09:35] nidarasheed opened #1793 "When starting time entry from Plan task, description is not filled"
* **OS version**: macOS
* **Browser version**: Chrome 83.0.4103.116
* **Extension version**: 1.64.1

#### Relevant integration (if any):

Toggl Plan

### 🐛 Describe the bug
When starting a TE from inside Plan, the description field isn't filled out.

![image](https://user-images.githubusercontent.com/49634673/88160858-af4c6900-cc28-11ea-8cb7-1ac120189aa5.png)

### Expected behaviour

The descripti

[2020-07-22 10:55] nidarasheed commented on #1793
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/search/conversations/106481300026703)

[2020-07-22 13:20] VeljkoTN opened #1794 "Zedesk integration TE description issue"
* **OS version**: Windows 10
* **Browser version**: Chrome 84.0.4147.89
* **Extension version**: 1.64.1

#### Relevant integration (if any):

zendesk.com

### 🐛 Describe the bug

If you start a timer from the ticket header the description for the TE will be pulled from there, but, if you start it using the sidebar you get the following:

![image](https://user-images.githubusercontent.com/36152180/

[2020-07-22 18:24] dianetoggl commented on #1768
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481300034281) User has 25 minute pomodoro set - timer stops within a few minutes and rounds up to 25 minutes.

[2020-07-23 05:48] VeljkoTN opened #1797 "YouTrack integration description issue"
* **OS version**: OS X 10.15.4
* **Browser version**: 83.0.4103.116
* **Extension version**: 1.64.1

#### Relevant integration (if any):

myjetbrains.com

### 🐛 Describe the bug

If you start a timer using the button in the Agile board view (tickets view) the task name is taken and shown double in the description field. When i tried to reproduce this i got that plus a part that says "start timer":

[2020-07-23 08:32] langri-sha opened #1798 "Ensure UA string is present in initial WS upgrade request"
### 🐛 Describe the bug

Ensure that Toggl Button includes the user agent string in the initial request for the WebSocket protocol upgrade.

### Other details or context

Check the [`webRequest`](https://developer.chrome.com/extensions/webRequest) handler here and ensure the UA is configured:

https://github.com/toggl/toggl-button/blob/dfd24166961d90874a85168c418c2deb686a02e1/src/scripts/background

[2020-07-23 11:15] #1793 closed

[2020-07-23 13:41] tcrammond commented on #1768
ℹ️ I think part of the root cause is in here https://github.com/toggl/toggl-button/blob/master/src/scripts/background.js#L866, where "stop the time entry" will trigger, and the duration is always set to exactly the expected Pomodoro duration

This may be fixed in the branch that adds more Pomodoro features https://github.com/toggl/toggl-button/tree/1569/full-pomodoro, but that branch might need a

[2020-07-23 15:03] TheSoloJake opened #1799 "Any.do Integration Missing Button"
#### Relevant integration (if any): Any.do

Any.do

### 🐛 Describe the bug

Even though the button has received permission to appear within Any.do, no Start Timer button appears within the webapp's UI (see screenshot below)

### Expected behaviour

Button should appear in webapp

### Other details or context

[Reported](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/

[2020-07-23 18:14] TheSoloJake opened #1800 "TB Causing Outlook to "Crash""
* **OS version**:
* **Browser version**:
* **Extension version**:

#### Relevant integration (if any):

Outlook webapp

### 🐛 Describe the bug

User reports that using the TB in Outlook prevents him from opening any emails (ie, page "freezes"). Forces him to close and reopen browser window. After user investigated this issue, he found that disabling the TB extension caused the Outlook webapp to op

[2020-07-25 07:10] sKawashima commented on #1774
thanks!!!!!!!!!!

[2020-07-27 09:18] VeljkoTN opened #1801 "Pomodoro issue when a new timer is started via the API"
* **OS version**: Linux x86_64
* **Browser version**: Chrome 83.0.4103.116
* **Extension version**: 1.64.3

### 🐛 Describe the bug

1) I start p. timer A
2) 10 min remaining on A
3) I call timer B from api
4) chrome extension switches to B and starts a new pomodoro timer with full 25 min left
5) after a few seconds B terminates and pretends it has finished 25 min into the future
### Expected behav

[2020-07-27 15:00] JulioOrellana commented on #635
+1!

[2020-07-28 10:19] #1794 closed

[2020-07-28 11:20] nidarasheed commented on #1721
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/106481300038306)

_We just had targetprocess enable Planning poker for our instance, and that requires their new "Detailed View" feature, which changes the headers of the tickets._

[2020-07-28 13:15] TheSoloJake commented on #1800
[User report](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/106481300038204)

[2020-07-29 09:52] jomel commented on #636
Monday.com is definitely growing in popularity. My team has recently moved over from Trello and I'm definitely missing my toggl button...

(Clockify has one already... https://clockify.me/monday-time-tracking)

[2020-07-30 12:50] #1775 closed

[2020-08-01 14:22] dominic-ks opened #1805 "Toggl Button Not Appearing with Unpacked Version for Dev"
* **OS version**: Windows 10 1903 Home Edition 64-bit
* **Browser version**: Chrome Version 84.0.4147.105 (Official Build) (64-bit) & Firefox 78.0.2 (64-bit)
* **Extension version**: Current Master Branch

#### Relevant integration (if any):
* https://calendar.google.com/
* https://trello.com/

### 🐛 Describe the bug
I am looking to contribute with an integration, however when running the unpacked

[2020-08-01 14:46] shantanuraj commented on #1805
@dominic-ks just doublechecking did you enable the GCal and Trello integrations from the settings page of the dev extension?

![Screen Recording 2020-08-01 at 8 13 55 PM](https://user-images.githubusercontent.com/1716853/89104038-dfb7b280-d433-11ea-85c2-dc045b936da5.gif)

[2020-08-01 15:01] dominic-ks commented on #1805
Ah, no I did not, that does indeed seem to resolve that. Do you normally have to do that? I don't recall specifically allowing sites when I first started using the button.

[2020-08-01 15:01] #1805 closed

[2020-08-01 15:04] shantanuraj commented on #1805
Yeah, the extension needs to be given permission to access the websites to insert the content-scripts at.

[2020-08-01 15:05] dominic-ks commented on #1805
Well, cheers for that! I must have just enabled them all when I first installed.

[2020-08-05 04:12] hamirmahal opened #1807 "Wiki"
* **OS version**: n/a
* **Browser version**: n/a
* **Extension version**:  n/a

#### Relevant integration (if any): n/a

### 🐛 Describe the bug
The [User-requested-buttons](https://github.com/toggl/toggl-button/wiki/User-requested-buttons) page doesn't have strikethrough text for Kanboard, ReviewBoard, and Khan Academy, implying they have unfinished implementations. However, issues [#329](https://

[2020-08-12 01:42] dpsxp commented on #1768
It seems that the real problem here isn't the Pomodoro but the time entry stopping before the actual expected time. So even if we fix the Pomodoro duration, the problem will still continue to happen.

[2020-08-12 03:52] eromoe opened #1811 "Add integration with dida365(ticktick's service in China)"
**Link to service:** https://dida365.com

**Is there a free account option?**: Yes

### Describe the solution you'd like

I think directly use ticktick Integration would work fine with dida365 ,  it is same as ticktick except Chinese localization.

[2020-08-12 06:55] VeljkoTN commented on #1800
I'd reconsider the impact level assigned to this issue. @ApocalypticFish is using Outlook as his main email client and he can reproduce the freezing of it:

[2020-08-12 20:10] dianetoggl opened #1812 "Idle detection not triggering"
* **OS version**: Windows 10
* **Browser version**: Version 84.0.4147.105 (Official Build) (64-bit)
* **Extension version**: 1.64.7

### 🐛 Describe the bug

Idle detection doesn't trigger.

### Expected behaviour

Idle detection should trigger if no keyboard/mouse movement has been made within the past 15 seconds as per this Slack thread: https://toggl.slack.com/archives/C9LMUPD9T/p159726116835480

[2020-08-12 20:14] dpsxp commented on #1812
Settings the impact to `high` here because it seems to be a feature that is not working at all.

[2020-08-13 07:10] shantanuraj opened #1813 "[Dark-Mode] Increase contrast in project popdown hover state"
_Originally posted by @nmiquan in https://github.com/toggl/toggl-button/pull/1769#issuecomment-673277646_

[2020-08-13 09:21] nmiquan commented on #1813
Thanks

[2020-08-13 09:26] rylek90 commented on #1812
After:
https://github.com/toggl/toggl-button/pull/1452
https://github.com/toggl/toggl-button/pull/1466

Notification is sent after 5 minutes of idle time. That being said, I wasn't able to reproduce this bug with following test scenario:
* Start timer
* Ensure your PC won't get lock/sleep after 5 minutes of idle time
* Wait 5 minutes
* ![image](https://user-images.githubusercontent.com/10184544/90

[2020-08-14 08:06] rylek90 commented on #1812
Hi @dianetoggl both me and @dpsxp weren't able to reproduce this issue finally. Keep in mind that idle detection only works if user is idle (do not touch input at all) for more than 5 minutes. 🤔

[2020-08-14 08:08] dianetoggl commented on #1812
This can be closed @rylek90. I've advised the user it takes 5 minutes of idle time before they'll see the pop up. Originally I was told idle time of 15 seconds - but that was a mistake 😂

[2020-08-14 08:08] #1812 closed

[2020-08-14 11:59] VeljkoTN commented on #1800
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481301348127)

[2020-08-17 09:39] nidarasheed opened #1816 "Button not showing in TeamWork Task details panel, and not picking project from Task list view."
* **OS version**: MacOS 10.15.6
* **Browser version**: Chrome 84.0.4147.125
* **Extension version**: 1.64.7

#### Relevant integration (if any):
Teamwork

### 🐛 Describe the bug
On the Task Details Panel, no TB shows.
![image](https://user-images.githubusercontent.com/49634673/90381699-2a256a00-e097-11ea-8c1f-f4331d928a6f.png)

On the Task list view, the button is showing, but the project is not p

[2020-08-18 09:37] #1721 closed

[2020-08-18 13:15] #1800 closed

[2020-08-18 13:42] ApocalypticFish opened #1818 "Projects in Jira no longer being autopopulated"
* **OS version**: MacOS 10.15.6
* **Browser version**: 84.0.4147.125
* **Extension version**: 1.64.7

#### Relevant integration (if any): User has advised that previously on Jira their project would be autopopulated using Toggl button but since Jira made some recent changes it has stopped working.

### 🐛 Describe the bug
Toggl button shows on Jira but projects must be manually selected.

### Expec

[2020-08-19 04:15] hamirmahal opened #1820 "Add alphabetized origins.js update"
### Describe the new feature

Alphabetizing supported websites

### How does this help you?
I think it would help users find the websites they're looking for more easily as well as help developers while trial running their modifications.

### If we couldn't add this feature, is there a compromise you can think of?

Leave origins.js as is.

[2020-08-19 14:20] #1547 closed

[2020-08-23 23:28] devnetkc commented on #1813
@nmiquan do you happen to have a screen shot of the part you want improved? Going to check this out here in a bit.

[2020-08-24 08:52] VeljkoTN opened #1824 "Add support for ..."
### Describe the changes you'd like

I'd like the Toggl Button integration to add the button in the Calendar view for Outlook as well, not just emails.

### Relevant links or screenshots

https://outlook.live.com/calendar/0/view/month

![image](https://user-images.githubusercontent.com/36152180/91024077-b4218580-e5f7-11ea-8714-99e938595fb2.png)

#### Additional context

We could add the button for

[2020-08-24 11:06] nmiquan commented on #1813
@devnetkc  sorry for being late to reply. When you hover the pointer on the dropdown list of projects. There is no contrast on the item that's being pointed at. It kind of threw me off at first, but getting used to it is possible.

![](https://media.giphy.com/media/hPqhlHUJI4Vhyz3ROf/giphy.gif)

[2020-08-24 12:42] devnetkc commented on #1813
@nmiquan did you get a chance to look at the images for my fix PR?

Pretty sure I got what you wanted after seeing this from you -- thank you btw, I like that you got the mouse hover in there.

[2020-08-24 13:31] nmiquan commented on #1813
@devnetkc Yes, it looks as how it should be.

[2020-08-26 02:07] AlainBit commented on #597
Would be good to get a sound notification when a break is completed as well as a pause functionality in case a pomodoro is briefly interrupted. Pomodone has both these features

[2020-08-26 02:12] AlainBit commented on #597
It seems incredible that the coding does not allow for the Pomodoro timer to be paused: https://github.com/toggl/toggl-button/issues/297 Not sure why this was closed.

[2020-08-26 07:19] arvinyorro commented on #1824
This is a great way to look back at what you did in the past

[2020-08-28 09:24] niccolomineo commented on #635
+1!

[2020-08-30 14:21] raspher opened #1826 "Cannot stop tracking time without network"
* **OS version**: Ubuntu 20.04
* **Browser version**: Google Chrome Version 85.0.4183.83 (Official Build) (64-bit)
* **Extension version**: 1.65.0

### 🐛 Describe the bug

I lost internet connection and wanted to stop tracking work time. Clicked on stop button but nothing happens.

### Expected behaviour

Tracking time (stopping and starting) should be possible with or without network connection.

[2020-08-30 22:55] shantanuraj opened #1827 "Focus mode icon persists after stopping entries"
* **OS version**: macOS 11.0 Beta
* **Browser version**: 84.0.4147.135
* **Extension version**: 1.65.0

#### Relevant integration (if any): None

### 🐛 Describe the bug

- On stopping entries after focus mode, the icon reverts to the Pomodoro Icon with time-outline

![Aug-31-2020 04-20-13](https://user-images.githubusercontent.com/1716853/91671161-ba58ba00-eb41-11ea-811b-79b31bad6843.gif)

### Exp

[2020-09-02 10:05] Phenome commented on #1495
We might have to reopen this. Seems we closed this by having people use the email/password login option, if Google Login failed?

We got a new report on this, and I could repro.

[2020-09-02 11:01] Phenome commented on #1495
It's a new issue; same symptom. Closing.

[2020-09-02 11:01] #1495 closed

[2020-09-02 19:01] krembo commented on #1694
Hi guys! Any new on that one? It would be really helpful

[2020-09-07 19:10] edtamayo opened #1831 ""Open Toggl" button at the top does not redirect to timer"
* **OS version**: MacOS 10.15.6
* **Browser version**: Chrome 84.0.4147.135
* **Extension version**: 1.6600

### 🐛 Describe the bug

The button to open the timer page from the Toggl Button extension does not work

### Expected behaviour

The Button should take you to https://track.toggl.com/timer

### Steps to reproduce

Click the button to go to the website at the top of the extension

![image](h

[2020-09-07 19:11] edtamayo commented on #1831
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3824737/conversations/106481303543074)

[2020-09-07 19:11] edtamayo commented on #1831
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3824737/conversations/106481303543051)

[2020-09-07 19:34] shantanuraj commented on #1831
Fixed in https://github.com/toggl/toggl-button/pull/1830, just needs deployment

[2020-09-08 08:23] #1813 closed

[2020-09-08 08:46] shantanuraj commented on #1831
Deployed in release [1.66.3](https://github.com/toggl/toggl-button/releases/tag/1.66.3) should start showing up on stores soon

[2020-09-08 08:46] #1831 closed

[2020-09-08 09:45] nidarasheed opened #1833 "Clickup integration not working"
* **OS version**: 10.15.5
* **Browser version**: Chrome 85
* **Extension version**: 1.66.1

#### Relevant integration (if any):

ClickUp
### 🐛 Describe the bug

TB is not showing in Clickup

![image](https://user-images.githubusercontent.com/49634673/92460799-d44d6900-f1e1-11ea-97e0-c518647bb59a.png)

### Expected behaviour

TB should show
### Other details or context

[Slack](https://toggl.slack.

[2020-09-08 09:48] nidarasheed opened #1834 "Todoist integration not working"
* **OS version**: 10.15.6
* **Browser version**: Chome 85
* **Extension version**: 1.66.1

#### Relevant integration (if any):
Todoist
### 🐛 Describe the bug

Here's how the button looks
![image](https://user-images.githubusercontent.com/49634673/92461141-52aa0b00-f1e2-11ea-8ba2-6660ae8ee939.png)

### Expected behaviour
The button should show correctly.
### Steps to reproduce

### Other details or

[2020-09-08 10:00] zdericnina opened #1835 "Button is completely grey in Asana integration"
* **OS version**: 10.15.6
* **Browser version**: Chrome 85
* **Extension version**: 1.66.1

#### Relevant integration (if any):

Asana (same behavior in Todoist)

### 🐛 Describe the bug

The button is entirely grey until you click on it and it turns purple

<img width="374" alt="Screenshot 2020-09-08 at 11 57 55" src="https://user-images.githubusercontent.com/19727123/92462251-8a0cbd80-f1ca-11ea-9

[2020-09-08 14:15] xstable opened #1836 "Point Short-Link to new Login-Page"
The Toggl-Redesign has now swtich the Login-Packe for Toggle-Tracker:
![image](https://user-images.githubusercontent.com/1778068/92488096-6491ab00-f1ee-11ea-9904-9e06455aabd1.png)

It still points to:
https://toggl.com/track/app/timer

But have to point to:
https://track.toggl.com/

[2020-09-08 14:17] VeljkoTN opened #1837 "Can't log in after rebranding using FF"
* **OS version**: Windows 10
* **Browser version**: Firefox 80.0.1 (64-bit)
* **Extension version**: Version 1.66.3

### 🐛 Describe the bug

I'm not able to log in. The first attempt fails and brings me to the Uh-oh page (old design btw) and then I try again and it tells me the credentials are wrong but I can use them with FF to log into the web app

![login tb ff](https://user-images.githubuserco

[2020-09-08 15:19] shantanuraj commented on #1836
Hi @xstable can you confirm the extension version you are using?

[2020-09-08 15:20] shantanuraj commented on #1836
This has been fixed in 1.66.3 https://github.com/toggl/toggl-button/issues/1831#issuecomment-688719695

[2020-09-08 16:20] dpsxp commented on #1837
@VeljkoTN we're having some issues with login, I don't think is really on toggl-button side. We'll continue on this after the login problem is fixed.

It does, but it seems that there's no UI effect showing that something happened. `You're currently logged in as .`  (without the email)

[2020-09-08 21:01] TheSoloJake commented on #1835
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/106481303545203)

[2020-09-09 06:13] xstable commented on #1836
Up from today, it works again: Version 1.66.3

[2020-09-09 06:13] #1836 closed

[2020-09-09 06:14] nidarasheed commented on #1833
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481303546237)

[2020-09-09 08:58] zdericnina opened #1838 "Time entry list doesn't get updated if you press play to continue another TE"
* **OS version**: macOS 10.15.6
* **Browser version**: Chrome 85.0.4183.83
* **Extension version**: 1.66.3

#### Relevant integration (if any):

### 🐛 Describe the bug

If you have a running timer and instead of stopping it, you click continue on one of your previous TEs, the stopped time entry doesn't show up until you close the button popup and open it. If you stop the running time entry first,

[2020-09-11 05:34] nicktoggl opened #1839 "Workfront integration broken"
* **OS version**:
* **Browser version**:
* **Extension version**:

#### Relevant integration (if any):

Workfront https://www.workfront.com/

### 🐛 Describe the bug

Workfront have made an update and the button is no longer initiating a timer as it should

### Expected behaviour

Toggl button use should start a timer from workfront

### Steps to reproduce

Haven't replicated, but the user has sent

[2020-09-13 13:37] ApocalypticFish opened #1842 "Idle timer not working"
* **OS version**: OS 10.15.6
* **Browser version**: Chrome 85.0.4183.83
* **Extension version**: Version 1.66.3

#### Relevant integration (if any):

### 🐛 Describe the bug
Idle detection doesn't seem to be working, no notification showed after 15 minutes idle

### Other details or context

Tried uninstalling and reinstalling, disabling and re-enabling, restarted device. Still no dice.

[Case](htt

[2020-09-16 04:49] gbpoole commented on #915
Where did this end-up?  I'm keen to use Toggl Button in Brave.  I notice that it's not offered through their extension service though.

[2020-09-16 13:26] vedr4n opened #1844 "Add support for Pull Requests in Bitbucket"
Toggl Button worked with Bitbucket PRs [at one point](https://github.com/toggl/toggl-button/pull/384), but it got lost down the line.

### Describe the changes you'd like

Add the "Start timer" button to Pull Requests in Bitbucket. Currently, we only display it in issues.

### Relevant links or screenshots
This is how it currently looks like (in issues). Do the same in PRs.
![ec599c36-0078-11e5-8a

[2020-09-17 18:52] kornelijepetak commented on #1784
I've been researching into this extensively, trying the plan.toggl.com permissions thingie and I realized that maybe it is not really possible to handle it as easily.

The main issue is the fact that we are currently showing in the list everything except `*.toggl.com`. Well, `plan.toggl.com` is implicitly allowed by the required permission `*.toggl.com`.

I've discussed this a bit with @shantanura

[2020-09-17 19:18] shantanuraj commented on #1784
Well since we are are in the post-rebrand era and we already have the themed builds out, I'm willing to take a chance with a longer review by altering the manifest

Do you know what's the final verdict on the API and supporting v8 on the new domains, I saw that it might not be the case but in my test I can see the v8 API is accessible over track.toggl.com and is probably being used by button atm

[2020-09-18 18:56] vedr4n opened #1845 "All time entries started in Notion are prefixed with "Toggl Button""
* **OS version**:
* **Browser version**: Chrome latest
* **Extension version**: 1.66.3

#### Relevant integration (if any):

Notion

### 🐛 Describe the bug

In Notion, the Start Timer button is located next to the page title. The integration pull the page title and uses it as the TE description. This is all good, but TE descriptions are being prefixed with `Toggl Button` for no apparent reason.

T

[2020-09-21 09:32] VeljkoTN opened #1846 "Issue with some integrations when required fields for TEs are enabled"
* **OS version**: OS X 10.14.6
* **Browser version**: Chrome 85.0.4183.102
* **Extension version**: 1.66.3

#### Relevant integration (if any):

https://app.asana.com
https://trello.com/

### 🐛 Describe the bug

A user reached out saying that (when they have required fields turned on) if they have a time running already via the Track extension and they click on the Track button to start a new time

[2020-09-21 09:34] VeljkoTN commented on #1846
You will also notice that the button is in dark mode and selecting tags looks a bit off, as if there's no visual feedback that they have been selected but I can see that when the user clicks away the tag gets applied.

[2020-09-21 12:07] SuperSandro2000 opened #1847 "Add integration with SERVICENAME"
**Link to service:** https://www.actitime.com/

**Is there a free account option?**: Yes

### Describe the solution you'd like

Just add support for it. 🙂

#### Additional context

[2020-09-21 14:29] kornelijepetak commented on #1833
I don't know what the issue is for the user, maybe they have something cached.
For me, the clickup looks a bit different (note the dark theme) and I can **clearly see** the Toggl Button.
It also correctly starts/stops the time entry.

![image](https://user-images.githubusercontent.com/7033216/93779651-83009900-fc27-11ea-95a7-1b0922671b94.png)

@nidarasheed can you check with the user whether the p

[2020-09-22 09:32] VeljkoTN commented on #1846
Hey guys, the user was wondering about a timeframe on this:

[2020-09-23 06:13] nidarasheed commented on #1833
@kornelijepetak This is from my Clickup account
![image](https://user-images.githubusercontent.com/49634673/93973486-b0675700-fd8d-11ea-83e6-92a776012d8e.png)
In the extension  settings
![image](https://user-images.githubusercontent.com/49634673/93973509-ba895580-fd8d-11ea-948f-91d7296d71a3.png)
Version 1.66.3

I also cleared cache and tried again, no change. :(

[2020-09-23 13:03] llinfeng opened #1848 "Add Todoist project sync to Toggl?"
The current Todoist integration reads only the "text" content but not the project metadata. No `@tag` nor `#Project` info.

# Describe the new feature

To assign the ongoing task to a project in Toggl, I need to specify the project manually. For now, specifying the project name through the Toggl button is a two-step process: type the initial characters of the project name, and use up/down arrow +

[2020-09-24 13:53] kornelijepetak commented on #1833
Since this integration (for now) depends on them providing a UI element in which we inject the button, I have contacted Clickup about this and am awaiting their response.

[2020-09-25 13:46] zdericnina opened #1849 "Toggl Track extension missing from Airtable"
* **OS version**: macOS
* **Browser version**: Chrome Version 85.0.4183.102 (Official Build) (64-bit)
* **Extension version**: Version 1.66.3

#### Relevant integration (if any):

https://airtable.com/

### 🐛 Describe the bug

Even though the button has received permission to appear within Airtable, extension doesn't show anywhere within the webapp's UI (see screenshot below)

<img width="1276" al

[2020-09-28 08:13] VeljkoTN commented on #1846
Any timeframe here? The user would like to know

[2020-09-28 12:17] #1801 closed

[2020-09-29 18:47] dianetoggl commented on #1837
I have a user with the same issue on Chrome
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/106481304664746)

[2020-09-30 12:32] kornelijepetak commented on #1833
I got back from the ClickApp support.

This is a non-issue.

The user simply needs to have two things turned on:
* `Time Tracking` in their `ClickApps` settings (see screenshot below)
* The permission for ClickApp enabled in Toggl Track browser extension integration settings

The button will then normally appear.

![image](https://user-images.githubusercontent.com/7033216/94685316-8b448c80-0329-11

[2020-09-30 12:32] #1833 closed

[2020-09-30 15:11] zdericnina opened #1851 "Pomodoro not triggering notification"
* **OS version**: macOS 10.15
* **Browser version**: Chrome 85.0.4183.102
* **Extension version**: 1.66.3

#### Relevant integration (if any):

### 🐛 Describe the bug

When Pomodoro is on and its time interval is passed, the timer just continues and no notification appears.

### Expected behaviour

Once the Pomodoro timer expires, the notification should be displayed to let you know.

### Steps to

[2020-09-30 18:07] dianetoggl commented on #1851
Note from the user:

[2020-10-01 08:38] soundnotation commented on #1470
+1, this is still happening on Chrome 85.0.4183.121 / Windows 10 OS Version 1903 (Build 18362.1082)

[2020-10-01 22:45] dpsxp commented on #1686
This should get resolved after release 1.66.4

[2020-10-04 19:53] llinfeng commented on #1848
Per the conversation with Toggl support, here are what I learned so far:
* It is possible to get the **Project** info synced from Todoist to Toggl, via Toggl Button
* Not sure about **tags** yet.

----

One prerequisite for Project-sync to work, is that both projects on Todoist and Toggl shall have the same name.

Yet, it would be nice to have a correspondence table, where projects (or even subpro

[2020-10-05 21:00] dpsxp commented on #1846
@VeljkoTN We'll be scheduling to work on this issue this week. So, after some investigation, I hope I can have a better answer for you and the user.

[2020-10-06 09:59] zdericnina commented on #1834
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2759100/conversations/106481304668595)

[2020-10-06 15:09] zdericnina opened #1856 "Projects in Todoist no longer being autopopulated"
* **OS version**: macOS
* **Browser version**: Firefox 80
* **Extension version**: 1.66.3

#### Relevant integration (if any):

todoist.com

### 🐛 Describe the bug

Toggl button shows on Todoist but projects must be manually selected.

### Expected behaviour

Project should be automatically populated

### Steps to reproduce

Steps to reproduce the behaviour:
1. Go to todoist
2. Make sure to have t

[2020-10-07 15:09] #1845 closed

[2020-10-07 22:28] dianetoggl opened #1857 "Toggl button's pomodoro settings are taking over when time entry is started from another platform"
* **OS version**: Widnows 10
* **Browser version**: Chrome
* **Extension version**:  1.66.4

### 🐛 Describe the bug

If a timer is starter from the webapp or desktop, the Toggl Button pomodoro settings are triggered where they weren't previously.

### Expected behaviour

If a time entry is started outside of Toggl Button, the pomodoro settings won't be taken into account.

### Steps to reproduce:

[2020-10-07 22:29] dianetoggl commented on #1857
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/106481304701666)

[2020-10-08 05:06] nicktoggl commented on #1857
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481304705793)

[2020-10-08 08:25] zdericnina commented on #1857
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2759100/conversations/106481304708094)

[2020-10-08 09:12] zdericnina commented on #1857
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2759100/conversations/106481304709163)

[2020-10-08 11:29] zdericnina commented on #1857
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2759100/conversations/106481304673837)

[2020-10-08 11:30] zdericnina commented on #1857
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2759100/conversations/106481304709309)

[2020-10-08 12:23] #1846 closed

[2020-10-08 12:39] Phenome commented on #1857
I'm bumping this to `impact: high` because of the high number of reports, and the annoyance factor to those affected :D
We'll get to it soon.

[2020-10-08 16:21] #1857 closed

[2020-10-08 16:33] dpsxp commented on #1768
@dianetoggl can you please check with the user if this still happening in the latest release? If so feel free to reopen this issue.

[2020-10-11 11:45] masirof opened #1859 "Easy to switch the Pomodoro timer on and off"
### Describe the new feature
I would like to see a button to switch the Pomodoro timer on/off in the popup that appears when you press the extension button.

### How does this help you?

Don't have to go all the way to the settings and then go to the Pomodoro switch button on the Pomodoro tab.

BEFORE:
Open the extension pop-up
↓
setup
↓
pomodoro tabs
↓
Pomodoro switch

After:
Open the extension p

[2020-10-12 09:21] MarijaGrigorjeva commented on #1834
I'd also like to add that it is shown in the wrong locations in the task view:

![image](https://user-images.githubusercontent.com/67943692/95729364-76e78480-0c85-11eb-8ea7-7a0c6896662e.png)

[2020-10-13 11:52] zdericnina opened #1860 "Extension not showing up on Outlook calendar"
* **OS version**: macOS 10.15
* **Browser version**: Chrome 85
* **Extension version**: 1.66.7

#### Relevant integration (if any):

outlook.live.com
outlook.office.com

### 🐛 Describe the bug

Toggl Track button isn't showing up on the calendar events (as they used to)

### Expected behaviour

Start Timer button should be shown on the calendar event in the same way as it does appear on Google cal

[2020-10-14 04:41] nicktoggl opened #1862 "Toggl extension icon appearing as a grey dot in tools"
* **OSX 10.5.7**:
* **Chrome 86.0.4240.75**:
* **1.66.7**:

#### Relevant integration (if any):

Asana https://app.asana.com) but affecting other services. Shantanu has said the DOM integration also has problems, see [Slack discussion
](https://toggl.slack.com/archives/C9LMUPD9T/p1602649828146500)

### 🐛 Describe the bug

When using the extension with Asana, a grey dot is appearing with no informa

[2020-10-14 05:58] nicktoggl commented on #1862
see also https://github.com/toggl/toggl-button/issues/1835

[2020-10-14 05:58] nicktoggl commented on #1862
and https://github.com/toggl/toggl-button/issues/1834

[2020-10-14 10:20] Phenome commented on #1834
Created [a milestone](https://github.com/toggl/toggl-button/milestone/21) to track this, as there are a few related issues that can probably get solved together.

[2020-10-16 13:07] kornelijepetak commented on #1835
Seems to be a duplicate of https://github.com/toggl/toggl-button/issues/1862

[2020-10-16 13:07] #1835 closed

[2020-10-16 13:55] #1834 closed

[2020-10-16 13:55] #1862 closed

[2020-10-18 22:11] dianetoggl commented on #1856
[Case reference](https://app.sproutsocial.com/profile/twitter/221015126/reply/5445870/t:1316910730977968129)

[2020-10-20 16:49] dianetoggl commented on #1768
Hey @dpsxp - we have another case of this. Finding out version number now
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481304722259)

[2020-10-21 12:18] zdericnina commented on #1856
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2759100/conversations/106481304723412)

[2020-10-23 10:33] TIIUNDER opened #1865 "Meistertask not working anymore"
* **OS version**: Ubuntu 20.04
* **Browser version**: Google Chrome 86
* **Extension version**: 1.66.9

#### Relevant integration (if any):

https://www.meistertask.com/

### 🐛 Describe the bug

The Toggl Button is missing in Meistertask.

### Expected behaviour

The Toggl Button is visible in Meistertask in the top right corner of the open tasks.

### Steps to reproduce

Open Meistertask with Tog

[2020-10-23 18:59] dooart commented on #1475
This was actually fixed in in https://github.com/toggl/toggl-button/commit/8841ddfb46157386c754bc8bbafd9f2e89932904#diff-410acca4c20921ff47d45874b81e621ab8d4b53d434719c9e4656f043eb36369

[2020-10-23 18:59] #1475 closed

[2020-10-23 19:03] dooart opened #1866 "Track Button disappears in Azure Devops (visualstudio.com) when window is shrunk horizontally"
#### Relevant integration (if any):

### 🐛 Describe the bug

If you shrink the browser window horizontally, the Toggl Track button will slide under some of the other buttons in the navbar.

Screenshot shared by the user:
![image](https://user-images.githubusercontent.com/371426/97043599-1b50ad00-1549-11eb-9738-6c3de9c22538.png)

### Expected behaviour

Button should be visible even when the user s

[2020-10-23 19:37] #1866 closed

[2020-10-26 07:15] nidarasheed opened #1868 "Button shows in irrelevant places in Todoist"
* **OS version**: macOS 10.15.6 (19G2021)
* **Browser version**: Chrome  Version 86.0.4240.80 (Official Build) (x86_64)
* **Extension version**: 1.66.9

#### Relevant integration (if any):

Todoist

### 🐛 Describe the bug

The button is showing in Edit Task modal when creating Subtask (it should only show once subtask is created) and in what would be under the subtask box, which makes no sense.

!

[2020-10-26 18:24] dianetoggl opened #1869 "Toggl icon no longer showing on GQueues"
* **OS version**: Windows 10
* **Browser version**: Chrome 86
* **Extension version**: 1.66.10

#### Relevant integration (if any): GQueues

### 🐛 Describe the bug

A user got in touch to report 1.66.10 has removed the GQueues integration. I have tested for myself and cannot see the icon on GQueues.

### Expected behaviour

Toggl icon would appear if integration is enabled.

### Steps to reproduce

[2020-10-26 18:24] dianetoggl commented on #1869
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/106481304729592)

[2020-10-27 00:51] nicktoggl commented on #1865
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097915/conversations/106481304730054)

[2020-10-27 22:09] edtamayo commented on #1768
One of our users has shared the following, sharing for insight:

[2020-10-28 21:08] dianetoggl opened #1870 "Idle notification on Windows disappears quickly without interaction"
* **OS version**: Windows 10
* **Browser version**: Chrome 86
* **Extension version**: 1.66.10

#### Relevant integration (if any):

### 🐛 Describe the bug

When using idle timer and triggering the notification, the notification will disappear within about 4 seconds and without the user being able to interact with it. Reproducable.

### Expected behaviour

Notification would mirror Mac and would s

[2020-10-29 07:12] nidarasheed opened #1871 "Right-click context menu Start Timer option in Jira adds [ ] to description"
* **OS version**: macOS Catalina 10.15.6 (19G2021)
* **Browser version**: Chrome Version 86.0.4240.80 (Official Build) (x86_64)
* **Extension version**: 1.66.10

#### Relevant integration (if any):
Jira Software (issue tracker)

### 🐛 Describe the bug

When using context menu on Issue page (the URL will be https://workspacename.atlassian.net/browse/issue-number, the description when you Starter Ti

[2020-10-29 08:20] TIIUNDER commented on #1865
What's the status here? I can't see the case reference

[2020-10-30 09:17] VeljkoTN commented on #1865
@TIIUNDER the reference is a secure link to our support tool indicating that this was reported by another user. Once this issue gets triaged by the dev team someone will be assigned to it and you will start seeing updates here.

[2020-10-30 09:23] VeljkoTN commented on #1865
![image](https://user-images.githubusercontent.com/36152180/97687168-ce655d00-1a99-11eb-8509-695c97c3143b.png)

Apparently, there was a UI update by Meistertask resulting in the Track Button no longer being visible, this is how it looked like before:

![image](https://user-images.githubusercontent.com/36152180/97687610-eccb5880-1a99-11eb-8c20-79d3f9ac20b4.png)